Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-neutron:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-rally-neutron/run.yaml
  post-run: playbooks/legacy/neutron-rally-neutron/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/aodh
  - openstack/ceilometer
  - openstack/diskimage-builder
  - openstack/ironic
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-grenade:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-grenade/run.yaml
  post-run: playbooks/legacy/neutron-grenade/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron

remove unused common exceptions
  neutron/common/exceptions.py
  neutron/plugins/common/utils.py
  neutron/services/segments/placement_client.py
  neutron/services/segments/plugin.py
  neutron/tests/unit/common/test_utils.py
  neutron/tests/unit/extensions/test_segment.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: Restarting l3 agent loses centralized fip ip on qg-interface
  neutron/agent/l3/dvr_edge_ha_router.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Replace assert to raise AssertionError
  neutron/common/_deprecate.py
  neutron/common/rpc.py
  neutron/db/api.py
  neutron/pecan_wsgi/controllers/root.py
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix pep8 errors
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
  neutron/tests/functional/agent/windows/test_ip_lib.py
  neutron/tests/unit/agent/windows/test_ip_lib.py
  neutron/tests/unit/plugins/ml2/drivers/linuxbridge/agent/test_linuxbridge_neutron_agent.py
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

unit test: unbreak test cases for callbacks.subscribe
  neutron/tests/tools.py
  neutron/tests/unit/plugins/ml2/drivers/agent/test_capabilities.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_capabilities.py
  neutron/tests/unit/services/trunk/rpc/test_backend.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

zuul: Make ovsfw tempest job voting
  .zuul.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add standard attributes to segment resource
  neutron/extensions/segment.py
  neutron/services/segments/db.py
  releasenotes/notes/add-standard-attributes-to-segment-d39c4b89988aa701.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

uncap eventlet
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron

Fix pep8 errors
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
  neutron/tests/functional/agent/windows/test_ip_lib.py
  neutron/tests/unit/agent/windows/test_ip_lib.py
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Refresh router objects after port binding
  neutron/api/rpc/handlers/l3_rpc.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

test_servicetype: Service Type model to OVO
  neutron/tests/unit/extensions/test_servicetype.py
Due: neutron-functional, neutron-fullstack

tests/tools: add prefix "_" to CALLBACK_PRIORITY_SUPPORTED
  neutron/tests/tools.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs_lib: add support for OpenFlow 1.5
  neutron/agent/common/ovs_lib.py
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

fix tox release note generation
  test-requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron

Fix some pep8 warnings
  neutron/agent/linux/ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs: survive errors from check_ovs_status
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Renamed subnet_service_type_db_models module
  neutron/db/subnet_service_type_mixin.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/extensions/test_subnet_service_types.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

tests: don't configure plugin for tests that don't need it
  neutron/tests/unit/objects/db/test_api.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/objects/test_subnet.py
Due: neutron-functional, neutron-fullstack

Handle AgentNotFoundByTypeHost exception properly
  neutron/db/l3_agentschedulers_db.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix potential race condition in privileged ip_lib module
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/unit/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use sub-resource API extension support
  neutron/extensions/qos.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Enable sorting and pagination for segments
  neutron/extensions/segment.py
  neutron/services/segments/plugin.py
  neutron/tests/unit/extensions/test_segment.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ml2: fix update_device_up to send lm events with linux bridge
  neutron/plugins/ml2/rpc.py
  neutron/tests/unit/plugins/ml2/test_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update RYU to be 4.24 to sort out issues with pip 10
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix meter-label-rule creation
  neutron/services/metering/drivers/iptables/iptables_driver.py
  neutron/tests/unit/services/metering/drivers/test_iptables.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Scenario] Enable "qos-fip" network extension in tempest config
  neutron/tests/contrib/hooks/api_all_extensions
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[RBAC] Fix setting network as not shared
  neutron/db/db_base_plugin_v2.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Change ha_state property to always return a value
  neutron/agent/l3/agent.py
  neutron/agent/l3/ha.py
  neutron/agent/l3/ha_router.py
  neutron/tests/unit/agent/l3/test_ha_router.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Re-order items in policy.json
  etc/policy.json
  neutron/tests/etc/policy.json
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix pep8 errors
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
  neutron/tests/functional/agent/windows/test_ip_lib.py
  neutron/tests/tempest/api/test_timestamp.py
  neutron/tests/unit/agent/windows/test_ip_lib.py
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use plugin common utils from neutron-lib
  neutron/db/l3_db.py
  neutron/db/l3_dvr_db.py
  neutron/plugins/common/utils.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/plugins/ml2/drivers/macvtap/macvtap_common.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/plugins/ml2/drivers/type_tunnel.py
  neutron/plugins/ml2/drivers/type_vlan.py
  neutron/plugins/ml2/extensions/dns_integration.py
  neutron/services/trunk/seg_types/validators.py
  neutron/tests/unit/common/test_utils.py
  neutron/tests/unit/plugins/common/test_utils.py
  neutron/tests/unit/plugins/ml2/drivers/test_type_vlan.py
  neutron/tests/unit/services/trunk/test_rules.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs: raise RuntimeError in _get_dp if id is None
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/ovs_bridge.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_ovs_bridge.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs: split OVS_RESTARTED handler into a separate method
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Override ovsdb_timeout default value in ovs_cleanup tool
  neutron/cmd/ovs_cleanup.py
  releasenotes/notes/ovsdb_timeout_override_for_ovs_cleanup_tool-e6ed6db258d0819e.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix handling of dstport option for VXLANs
  neutron/agent/linux/ip_lib.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

of_interface: Implement bundled() method
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/ofswitch.py
  neutron/tests/functional/agent/test_ovs_flows.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/ovs_bridge_test_base.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_br_int.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_br_phys.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_br_tun.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_ofswitch.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_agent_extension_api.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update auth_uri option to www_authenticate_uri
  doc/source/admin/config-dns-int-ext-serv.rst
  doc/source/admin/config-routed-networks.rst
  doc/source/install/compute-install-obs.rst
  doc/source/install/compute-install-rdo.rst
  doc/source/install/compute-install-ubuntu.rst
  doc/source/install/controller-install-option1-obs.rst
  doc/source/install/controller-install-option1-rdo.rst
  doc/source/install/controller-install-option1-ubuntu.rst
  doc/source/install/controller-install-option2-obs.rst
  doc/source/install/controller-install-option2-rdo.rst
  doc/source/install/controller-install-option2-ubuntu.rst
Due: none

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
