Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

doc: Add NICs known to support ovs offload
  doc/source/admin/config-ovs-offload.rst
  doc/source/admin/config-sriov.rst
Due: none

remove context_manager from neutron
  neutron/db/api.py
  neutron/service.py
  neutron/tests/unit/test_wsgi.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Define popular policy rules by constants
  neutron/conf/policies/address_scope.py
  neutron/conf/policies/agent.py
  neutron/conf/policies/auto_allocated_topology.py
  neutron/conf/policies/availability_zone.py
  neutron/conf/policies/base.py
  neutron/conf/policies/flavor.py
  neutron/conf/policies/floatingip.py
  neutron/conf/policies/floatingip_pools.py
  neutron/conf/policies/floatingip_port_forwarding.py
  neutron/conf/policies/logging.py
  neutron/conf/policies/metering.py
  neutron/conf/policies/network.py
  neutron/conf/policies/network_ip_availability.py
  neutron/conf/policies/port.py
  neutron/conf/policies/qos.py
  neutron/conf/policies/rbac.py
  neutron/conf/policies/router.py
  neutron/conf/policies/security_group.py
  neutron/conf/policies/segment.py
  neutron/conf/policies/service_type.py
  neutron/conf/policies/subnet.py
  neutron/conf/policies/subnetpool.py
  neutron/conf/policies/trunk.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add ipxe6 dnsmasq tag to enable ipv6 dhcp client matching
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Define popular policy rules by constants (part 2)
  neutron/conf/policies/address_scope.py
  neutron/conf/policies/base.py
  neutron/conf/policies/network.py
  neutron/conf/policies/port.py
  neutron/conf/policies/rbac.py
  neutron/conf/policies/subnet.py
  neutron/conf/policies/subnetpool.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Do state report after setting start_flag on OVS restart
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use publish for AGENT AFTER_CREATE/AFTER_UPDATE
  neutron/db/agents_db.py
  neutron/plugins/ml2/plugin.py
  neutron/services/segments/db.py
  neutron/tests/unit/db/test_agents_db.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  releasenotes/notes/use-callback-payload-for-AGENT-AFTER_CREATE-and-AFTER_UPDATE-events-839d8dcb0ac5ff26.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Remove polling from test_create_bridges
  neutron/tests/functional/agent/ovsdb/native/test_connection.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

doc: Add policy reference
  .gitignore
  doc/source/conf.py
  doc/source/configuration/config-samples.rst
  doc/source/configuration/config.rst
  doc/source/configuration/index.rst
  doc/source/configuration/policy-sample.rst
  doc/source/configuration/policy.rst
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "Log alembic migration script's output with oslo_log"
  neutron/db/migration/cli.py
  neutron/tests/unit/db/test_migration.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Convert Subnet to OVO in ipam_pluggable_backend.py
  neutron/db/ipam_backend_mixin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Convert Port to OVO in db/ipam_pluggable_backend.py
  neutron/db/ipam_pluggable_backend.py
  neutron/objects/db/api.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Enable 'all' IPv6 forwarding knob correctly
  neutron/agent/l3/ha_router.py
  neutron/agent/l3/router_info.py
  neutron/tests/functional/agent/l3/framework.py
  neutron/tests/functional/agent/l3/test_ha_router.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

fullstack: retry on updating port's IP address
  neutron/tests/fullstack/base.py
  neutron/tests/fullstack/test_l3_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use oslo_log instead of alembic.util in functional tests
  neutron/db/migration/cli.py
  neutron/tests/functional/db/test_migrations.py
  neutron/tests/unit/db/test_migration.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Don't modify global variables in unit tests
  neutron/tests/unit/agent/dhcp/test_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Migrate neutron-tempest-iptables_hybrid job to zuulv3 and python 3
  .zuul.yaml
  neutron/tests/contrib/gate_hook.sh
  neutron/tests/contrib/hooks/iptables_hybrid
  playbooks/legacy/neutron-tempest-iptables_hybrid/post.yaml
  playbooks/legacy/neutron-tempest-iptables_hybrid/run.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

cleanup SQLAlchemy required version
  requirements.txt
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task

consume get_updatable_fields from neutron-lib
  neutron/objects/base.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fullstack: init trunk agent's driver only when necessary
  neutron/tests/fullstack/cmd/ovs_agent.py
  neutron/tests/fullstack/resources/process.py
  neutron/tests/fullstack/test_trunk.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use ADMIN_ONLY constant in policy rules
  neutron/conf/policies/port.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

remove the neutron.db._resource_extend module
  neutron/db/_resource_extend.py
  neutron/db/address_scope_db.py
  neutron/db/allowedaddresspairs_db.py
  neutron/db/availability_zone/network.py
  neutron/db/availability_zone/router.py
  neutron/db/common_db_mixin.py
  neutron/db/db_base_plugin_common.py
  neutron/db/db_base_plugin_v2.py
  neutron/db/dns_db.py
  neutron/db/external_net_db.py
  neutron/db/extradhcpopt_db.py
  neutron/db/extraroute_db.py
  neutron/db/l3_attrs_db.py
  neutron/db/l3_db.py
  neutron/db/l3_fip_port_details.py
  neutron/db/l3_fip_qos.py
  neutron/db/l3_gateway_ip_qos.py
  neutron/db/l3_gwmode_db.py
  neutron/db/portbindings_base.py
  neutron/db/portbindings_db.py
  neutron/db/portsecurity_db.py
  neutron/db/securitygroups_db.py
  neutron/db/standardattrdescription_db.py
  neutron/db/subnet_service_type_mixin.py
  neutron/db/vlantransparent_db.py
  neutron/plugins/ml2/plugin.py
  neutron/services/auto_allocate/db.py
  neutron/services/l3_router/l3_router_plugin.py
  neutron/services/portforwarding/pf_plugin.py
  neutron/services/qos/qos_plugin.py
  neutron/services/revisions/revision_plugin.py
  neutron/services/segments/db.py
  neutron/services/segments/plugin.py
  neutron/services/tag/tag_plugin.py
  neutron/services/timestamp/timestamp_db.py
  neutron/services/trunk/plugin.py
  neutron/tests/functional/db/test_network.py
  neutron/tests/unit/extensions/test_data_plane_status.py
  neutron/tests/unit/extensions/test_l3.py
  neutron/tests/unit/extensions/test_uplink_status_propagation.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Make test service_plugins override simple
  neutron/tests/unit/db/test_db_base_plugin_v2.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Prevent bind fip to port has port forwarding
  neutron/db/l3_db.py
  neutron/services/portforwarding/common/exceptions.py
  neutron/services/portforwarding/pf_plugin.py
  neutron/tests/functional/services/portforwarding/test_port_forwarding.py
  neutron/tests/unit/extensions/test_expose_port_forwarding_in_fip.py
  neutron/tests/unit/extensions/test_l3.py
  releasenotes/notes/fip-binding-limitation-1d2509950847b085.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-tempest-iptables_hybrid job inherits from tempest-full-py3
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

port-resource-request policy rule to constant
  neutron/conf/policies/port.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Migrate neutron-tempest-dvr job to zuulv3 and python 3
  .zuul.yaml
  playbooks/legacy/neutron-tempest-dvr/post.yaml
  playbooks/legacy/neutron-tempest-dvr/run.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add kill_timeout to AsyncProcess
  neutron/agent/linux/async_process.py
  neutron/tests/fullstack/resources/process.py
  neutron/tests/unit/agent/linux/test_async_process.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update SR-IOV configuration admin docs
  doc/source/admin/config-sriov.rst
Due: none

Revert "Remove -u root as mysql is executed with root user"
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

Define missing policies for attributes with enforce_policy
  neutron/conf/policies/network.py
  neutron/conf/policies/port.py
  neutron/conf/policies/subnet.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Rename README.policy.json.txt
  etc/README.policy.json.txt
  etc/README.policy.yaml.txt
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix a minor typo in SR-IOV with ConnectX-3 section
  doc/source/admin/config-sriov.rst
Due: none
