Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python27: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-fullstack-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$)
  tempest-slow-py3: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$)
  networking-ovn-tempest-dsvm-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$)
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-with-neutron-lib-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$, ^devstack/.*\.sample$
  neutron-centos-8-tripleo-standalone: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^lower-constraints.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini, ^setup.*$, ^vars/sova-patterns.yml$ ^.ansible-lint$, ^.pre-commit-config.yaml$, ^.yamllint$
  neutron-ovn-tripleo-ci-centos-8-containers-multinode: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$, ^lower-constraints.txt$, ^spec/.*$, ^Puppetfile.*$, tox.ini, ^setup.*$, ^vars/sova-patterns.yml$ ^.ansible-lint$, ^.pre-commit-config.yaml$, ^.yamllint$
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$

Use consistent filter API syntax
  neutron/db/l3_db.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Add OVN migration OSP 16.2 option
  plugin.spec
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Optimize get_ports with QoS extension
  neutron/services/qos/qos_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Optimize get_ports with trunk extension
  neutron/db/db_base_plugin_common.py
  neutron/db/db_base_plugin_v2.py
  neutron/services/trunk/plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

[QoS] Get only min bw rules when extending port dict
  neutron/services/qos/qos_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Fix mock of the _is_keepalived_use_no_track_supported
  neutron/tests/unit/agent/linux/test_keepalived.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Auto-remove floating agent gw ports on net/subnet delete
  neutron/common/_constants.py
  neutron/db/l3_dvr_db.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

[ovn] Metadata agent: fix checking datapath type
  neutron/agent/ovn/metadata/agent.py
  neutron/tests/functional/agent/ovn/metadata/test_metadata_agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

[OVN] Ensure metadata checksum
  neutron/agent/linux/iptables_manager.py
  neutron/agent/ovn/metadata/agent.py
  neutron/tests/functional/agent/ovn/metadata/test_metadata_agent.py
  neutron/tests/unit/agent/ovn/metadata/test_agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Fix unused 'timeout' in OvsdbMonitor start
  neutron/agent/common/ovsdb_monitor.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

[OVN] Allow schema checks to happen before starting connection
  neutron/plugins/ml2/drivers/ovn/mech_driver/mech_driver.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/impl_idl_ovn.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovsdb_monitor.py
  neutron/tests/functional/base.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovsdb_monitor.py
  neutron/tests/functional/resources/ovsdb/fixtures.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovsdb_monitor.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Fix typo in "DhcpAgent.enable_isolated_metadata_proxy"
  neutron/agent/dhcp/agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Fix misleading doc re: secgroup rule quota
  doc/source/admin/ops-quotas.rst
Due: none

Temporary make rally job non-voting
  zuul.d/project.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Make all periodic jobs to be voting
  zuul.d/project.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Add OVN mechanism driver to the ML2 config document
  doc/source/admin/config-ml2.rst
Due: none

Change ARP reply MAC to router interface
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_dvr_process.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_int.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Do not update agents "alive" state in TestAgentApi
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Make test_agent_show only look for its own agents
  neutron/db/agents_db.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Fix losses of ovs flows when ovs is restarted
  neutron/agent/linux/openvswitch_firewall/firewall.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Add note for openflow firewall
  doc/source/contributor/internals/openvswitch_firewall.rst
Due: none

Remove duplicated assignement of the device_owner in UT
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Use constants from neutron-lib
  neutron/db/db_base_plugin_v2.py
  neutron/services/qos/qos_plugin.py
  neutron/services/trunk/plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Remove flows for ARP reply MAC change
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_dvr_process.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Move tempest job with neutron-lib master to the experimental queue
  doc/source/contributor/testing/ci_scenario_jobs.rst
  zuul.d/project.yaml
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Make neutron-tempest-dvr-ha-multinode-full to be 2 nodes job
  zuul.d/tempest-multinode.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Process DHCP events in order if related
  neutron/agent/dhcp/agent.py
  neutron/api/rpc/agentnotifiers/dhcp_rpc_agent_api.py
  neutron/tests/unit/agent/dhcp/test_agent.py
  neutron/tests/unit/api/rpc/agentnotifiers/test_dhcp_rpc_agent_api.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow

Drop meaningless translation marker
  neutron/agent/linux/utils.py
  neutron/agent/windows/utils.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-tempest-with-neutron-lib-master, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode, neutron-ovn-rally-task, neutron-ovn-tempest-slow
