Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Path conditions:
  neutron-functional: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*\.sample$, ^zuul.d/(?!(project)).*\.yaml)
  neutron-functional-python27: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$) or (unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^neutron/agent/ovn/.*$, ^neutron/agent/windows/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/plugins/ml2/drivers/ovn/.*$, ^zuul.d/(?!(project)).*\.yaml)
  neutron-rally-task: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-fullstack-with-uwsgi: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$) or (unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^neutron/agent/ovn/.*$, ^neutron/agent/windows/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/plugins/ml2/drivers/ovn/.*$, ^zuul.d/(?!(project)).*\.yaml)
  neutron-functional-with-uwsgi: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*\.sample$, ^zuul.d/(?!(project)).*\.yaml)
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  networking-ovn-tempest-dsvm-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-centos-8-tripleo-standalone: unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^tox.ini$, ^neutron/agent/ovn/.*$, ^neutron/agent/windows/.*$, ^neutron/plugins/ml2/drivers/linuxbridge/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/plugins/ml2/drivers/ovn/.*$
  neutron-ovn-tripleo-ci-centos-8-containers-multinode: unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^tox.ini$, ^neutron/agent/dhcp/.*$, ^neutron/agent/l2/.*$, ^neutron/agent/l3/.*$, ^neutron/agent/metadata/.*$, ^neutron/agent/windows/.*$, ^neutron/agent/dhcp_agent.py, ^neutron/agent/l3_agent.py, ^neutron/agent/metadata_agent.py, ^neutron/agent/resource_cache.py, ^neutron/agent/rpc.py, ^neutron/agent/securitygroup_rpc.py, ^neutron/plugins/ml2/drivers/linuxbridge/.*$, ^neutron/plugins/ml2/drivers/openvswitch/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/scheduler/.*$

[OVN] Off-path SmartNIC DPU Documentation
  doc/source/admin/config-sriov.rst
  doc/source/admin/ovn/index.rst
  doc/source/admin/ovn/smartnic_dpu.rst
Due: none

Add new class for Logging API methods
  neutron/services/logapi/api_base.py
  neutron/services/logapi/drivers/base.py
  neutron/services/logapi/rpc/server.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

segments: fix scheduling duplicate segments
  neutron/db/agentschedulers_db.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Ensure subports status is aligned with parent port
  neutron/services/trunk/drivers/ovn/trunk_driver.py
  neutron/tests/unit/services/trunk/drivers/ovn/test_trunk_driver.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Allow ovn_db_sync to continue on duplicate normalised CIDR
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_db_sync.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN] Migrate "reside-on-redirect-chassis" for distributed FIP
  neutron/common/ovn/constants.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/maintenance.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_maintenance.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Refactor back into common method in trunk tests
  neutron/tests/unit/services/trunk/test_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Switch TripleO jobs to CentOS 9
  zuul.d/project.yaml
  zuul.d/tripleo.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Update local ip doc
  doc/source/contributor/internals/local_ips.rst
Due: none

Bump python-neutronclient version to 7.8.0
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

change skydive source to skydive-project
  devstack/ovn-compute-local.conf.sample
  devstack/ovn-local.conf.sample
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Change OVS and OVN installation directories
  tools/configure_for_func_testing.sh
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

[OVN] Handle RouterNotFound exception in set_gateway_mtu
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Added uwsgi plugins to custom-requirements
  custom-requirements.txt
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[Fullstack] Block until dhcp config is done
  neutron/tests/fullstack/test_securitygroup.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Revert "[Fullstack] Mark security groups test as unstable"
  neutron/tests/fullstack/test_securitygroup.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Support filtering for QoS rule type list
  doc/source/contributor/internals/quality_of_service.rst
  neutron/common/ovn/extensions.py
  neutron/extensions/qos_rule_type_filter.py
  neutron/objects/qos/rule_type.py
  neutron/services/qos/drivers/manager.py
  neutron/services/qos/qos_plugin.py
  neutron/tests/unit/objects/qos/test_rule_type.py
  neutron/tests/unit/services/qos/drivers/test_manager.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
  releasenotes/notes/qos-rule-type-filter-9c821e93b27fffe9.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Switch to cirros uec image in ovn tempest jobs
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add functional and fullstack jobs with FIPS enabled
  bindep.txt
  playbooks/enable-fips.yaml
  roles/configure_functional_tests/tasks/main.yaml
  roles/disable_selinux/tasks/main.yaml
  tools/configure_for_func_testing.sh
  zuul.d/base.yaml
  zuul.d/project.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add FIPS enabled scenario jobs
  zuul.d/project.yaml
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Remove tox_install_siblings=False from the functional job's definition
  zuul.d/base.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN][Cosmetic] Improve gen_router_port_options
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[Agent Side] L3 router support ndp proxy
  neutron/agent/l3/dvr_fip_ns.py
  neutron/agent/l3/extensions/ndp_proxy.py
  neutron/api/rpc/callbacks/resources.py
  neutron/tests/functional/agent/l3/extensions/test_ndp_proxy_extension.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/unit/agent/l3/extensions/test_ndp_proxy.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/l3/test_dvr_fip_ns.py
  setup.cfg
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Restructure layout for periodic, experimental and tox jobs
  zuul.d/job-templates.yaml
  zuul.d/project.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Re enable update_router_admin_state scenario test
  zuul.d/tempest-multinode.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Move FIPS jobs from the experimental to the periodic queue
  zuul.d/job-templates.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add devstack-enforce-scope job to our periodic queue
  zuul.d/job-templates.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN] Update VIP port host ID when traffic detected
  neutron/plugins/ml2/drivers/ovn/mech_driver/mech_driver.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovsdb_monitor.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovsdb_monitor.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add port IDs in "RouterInUse" exception during router deletion
  neutron/db/l3_db.py
  neutron/tests/unit/db/test_l3_hamode_db.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add ndp_proxy to devstack plugin
  devstack/lib/l3_ndp_proxy
  devstack/plugin.sh
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Remove _standard_attr_segment_lib and use definition from neutron-lib
  neutron/db/ipam_backend_mixin.py
  neutron/db/models/segment.py
  neutron/extensions/_standard_attr_segment_lib.py
  neutron/extensions/segment.py
  neutron/extensions/standard_attr_segment.py
  neutron/services/segments/db.py
  neutron/tests/unit/extensions/test_segment.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode
