Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-functional-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional-python35/run.yaml
  post-run: playbooks/legacy/neutron-functional-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack-python35/run.yaml
  post-run: playbooks/legacy/neutron-fullstack-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-task:
  parent: rally-task-neutron
  timeout: 7800
  vars:
    devstack_plugins:
      rally-openstack: https://git.openstack.org/openstack/rally-openstack
      neutron: https://git.openstack.org/openstack/neutron
    devstack_services:
      neutron-trunk: true
    rally_task: rally-jobs/task-neutron.yaml
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

Support fetching specific db column in OVO
  neutron/db/_model_query.py
  neutron/objects/base.py
  neutron/objects/db/api.py
  neutron/objects/qos/rule_type.py
  neutron/tests/unit/objects/db/test_api.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/objects/test_port_forwarding.py
  releasenotes/notes/fetch-specific-column-in-ovo-69c0b087c8c7ee36.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Make neutron-tempest-iptable_hybrid job non-voting
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update mailinglist from dev to discuss
  README.rst
  doc/source/contributor/contribute.rst
  doc/source/contributor/policies/blueprints.rst
  doc/source/contributor/policies/bugs.rst
  doc/source/contributor/policies/contributor-onboarding.rst
  doc/source/contributor/policies/neutron-teams.rst
  doc/source/contributor/policies/thirdparty-ci.rst
  setup.cfg
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task

Do not delete trunk bridges if service port attached
  neutron/services/trunk/drivers/openvswitch/agent/ovsdb_handler.py
  neutron/tests/functional/services/trunk/drivers/openvswitch/agent/test_ovsdb_handler.py
  neutron/tests/unit/services/trunk/drivers/openvswitch/agent/test_ovsdb_handler.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Do state report after setting start_flag on OVS restart
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Table name in "add_ip_rule" can be a string
  neutron/agent/linux/ip_lib.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[DVR] Allow multiple subnets per external network
  neutron/agent/l3/dvr_fip_ns.py
  neutron/agent/linux/interface.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/unit/agent/l3/test_dvr_fip_ns.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

get_standard_device_mappings for mechdriver
  neutron/plugins/ml2/drivers/mech_sriov/mech_driver/mech_driver.py
  neutron/plugins/ml2/drivers/openvswitch/mech_driver/mech_openvswitch.py
  neutron/tests/unit/plugins/ml2/drivers/mech_sriov/mech_driver/test_mech_sriov_nic_switch.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/mech_driver/test_mech_openvswitch.py
  releasenotes/notes/get_standard_device_mappings_for_mechdriver-bc039d478ea0b162.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Replace ryu with os_ken
  .zuul.yaml
  lower-constraints.txt
  neutron/common/config.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_dvr_process.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_int.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_tun.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/main.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/ofswitch.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/ovs_oskenapp.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/ovs_ofctl/ofswitch.py
  neutron/services/logapi/drivers/openvswitch/log_oskenapp.py
  neutron/services/logapi/drivers/openvswitch/ovs_firewall_log.py
  neutron/tests/functional/services/logapi/test_logging.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/fake_oflib.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/ovs_bridge_test_base.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_ofswitch.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_ovs_bridge.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/ovs_test_base.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_agent_extension_api.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_tunnel.py
  playbooks/legacy/neutron-tempest-with-os-ken-master/post.yaml
  playbooks/legacy/neutron-tempest-with-os-ken-master/run.yaml
  requirements.txt
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Mark mysql related functional tests as unstable
  neutron/tests/functional/db/test_migrations.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add irrelevant-files for grenade-py3 jobs
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Remove unnecessary 'set -x' at EOL in genconfig script
  tools/generate_config_file_samples.sh
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Prevent some L3 ports change IP address
  neutron/db/db_base_plugin_v2.py
  neutron/db/ipam_pluggable_backend.py
  neutron/extensions/l3_port_ip_change_not_allowed.py
  neutron/ipam/exceptions.py
  neutron/services/l3_router/l3_router_plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/db/test_l3_dvr_db.py
  neutron/tests/unit/db/test_l3_hamode_db.py
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Pass elevated admin context when fetching snat router for FIP to unbound port
  neutron/db/l3_dvr_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

shim _resource_extend for neutron-lib
  neutron/db/_resource_extend.py
  neutron/tests/base.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Force all fdb entries update after ovs-vswitchd restart
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Convert policy.json into policy-in-code
  doc/source/contributor/internals/policy.rst
  etc/README.policy.json.txt
  etc/oslo-policy-generator/policy.conf
  etc/policy.json
  neutron/conf/policies/__init__.py
  neutron/conf/policies/address_scope.py
  neutron/conf/policies/agent.py
  neutron/conf/policies/auto_allocated_topology.py
  neutron/conf/policies/availability_zone.py
  neutron/conf/policies/base.py
  neutron/conf/policies/cisco_plugin.py
  neutron/conf/policies/flavor.py
  neutron/conf/policies/floatingip.py
  neutron/conf/policies/floatingip_pools.py
  neutron/conf/policies/floatingip_port_forwarding.py
  neutron/conf/policies/logging.py
  neutron/conf/policies/metering.py
  neutron/conf/policies/network.py
  neutron/conf/policies/network_ip_availability.py
  neutron/conf/policies/port.py
  neutron/conf/policies/qos.py
  neutron/conf/policies/rbac.py
  neutron/conf/policies/router.py
  neutron/conf/policies/security_group.py
  neutron/conf/policies/segment.py
  neutron/conf/policies/service_type.py
  neutron/conf/policies/subnet.py
  neutron/conf/policies/subnetpool.py
  neutron/conf/policies/trunk.py
  neutron/conf/policies/vmware_plugin.py
  neutron/policy.py
  neutron/tests/etc/policy.json
  neutron/tests/functional/api/test_policies.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
  setup.cfg
  tools/misc-sanity-checks.sh
  tox.ini
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add debug information of the dhclient process
  neutron/tests/fullstack/resources/machine.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix the bug about DHCP port whose network has multiple subnets.
  neutron/agent/dhcp/agent.py
  neutron/tests/unit/agent/dhcp/test_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Implement IpRuleCommand.delete() using pyroute2
  neutron/agent/l3/dvr_fip_ns.py
  neutron/agent/l3/dvr_local_router.py
  neutron/agent/linux/ip_lib.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
  neutron/tests/functional/privileged/agent/linux/test_ip_lib.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Drop 3rd-party plugin specific policies
  neutron/conf/policies/__init__.py
  neutron/conf/policies/cisco_plugin.py
  neutron/conf/policies/network.py
  neutron/conf/policies/port.py
  neutron/conf/policies/vmware_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Remove unused get_<plural> rules
  neutron/conf/policies/flavor.py
  neutron/conf/policies/floatingip_port_forwarding.py
  neutron/conf/policies/logging.py
  neutron/conf/policies/network_ip_availability.py
  neutron/conf/policies/security_group.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "Make neutron-tempest-iptable_hybrid job non-voting"
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix mysql functional migration tests
  neutron/tests/functional/db/test_migrations.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add logging for functional tests
  neutron/tests/functional/pecan_wsgi/test_functional.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Implement IpAddrCommand.get_devices_with_ip using pyroute2
  neutron/agent/linux/ip_lib.py
  neutron/common/utils.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/functional/privileged/agent/linux/test_ip_lib.py
  neutron/tests/unit/agent/linux/test_dhcp.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

rally-jobs: Set floating network as a parameter
  rally-jobs/task-neutron.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use payloads for ROUTER_INTERFACE BEFORE_DELETE events
  neutron/db/l3_db.py
  neutron/db/l3_dvr_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Disable displaying warnings in functional tests
  neutron/tests/functional/base.py
  tox.ini
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

tox: Hide deprecation warnings from distgit
  tox.ini
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Fill port-resource-request
  neutron/conf/policies/port.py
  neutron/services/qos/qos_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Upgrade check command - add support for 3rd party checks
  doc/source/contributor/index.rst
  doc/source/contributor/upgrade_checks.rst
  neutron/cmd/status.py
  neutron/cmd/upgrade_checks/__init__.py
  neutron/cmd/upgrade_checks/base.py
  neutron/cmd/upgrade_checks/checks.py
  neutron/tests/unit/cmd/test_status.py
  neutron/tests/unit/cmd/upgrade_checks/__init__.py
  neutron/tests/unit/cmd/upgrade_checks/test_checks.py
  releasenotes/notes/Neutron-status-upgrade-check-framework-fc34d03c8829672c.yaml
  setup.cfg
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Log alembic migration script's output with oslo_log
  neutron/db/migration/cli.py
  neutron/tests/unit/db/test_migration.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Block port update from unbound DHCP agent
  neutron/api/rpc/handlers/dhcp_rpc.py
  neutron/tests/unit/api/rpc/handlers/test_dhcp_rpc.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
