Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-functional-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional-python35/run.yaml
  post-run: playbooks/legacy/neutron-functional-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack-python35/run.yaml
  post-run: playbooks/legacy/neutron-fullstack-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-task:
  parent: rally-task-neutron
  timeout: 7800
  vars:
    devstack_plugins:
      rally-openstack: https://git.openstack.org/openstack/rally-openstack
      neutron: https://git.openstack.org/openstack/neutron
    devstack_services:
      neutron-trunk: true
    rally_task: rally-jobs/task-neutron.yaml
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

Increase tempest-full jobs timeout
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Block port update from unbound DHCP agent
  neutron/api/rpc/handlers/dhcp_rpc.py
  neutron/tests/unit/api/rpc/handlers/test_dhcp_rpc.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Don't uninstall flow tables in setup_dvr_flows_on_integ_br
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

iptables-restore wait period cannot be zero
  neutron/agent/linux/iptables_manager.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update docs for disabling DNS server announcement
  doc/source/admin/config-dns-res.rst
Due: none

Fix connection between 2 dvr routers
  neutron/agent/l3/agent.py
  neutron/db/l3_dvr_db.py
  neutron/db/l3_dvr_ha_scheduler_db.py
  neutron/db/l3_dvrscheduler_db.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/scheduler/test_l3_agent_scheduler.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Scan for MAC through all devices in macvtap agent
  neutron/plugins/ml2/drivers/macvtap/agent/macvtap_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/macvtap/agent/test_macvtap_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add test cases to verify port number 0 for port_forwaring
  neutron/tests/functional/services/portforwarding/test_port_forwarding.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Verify port_forwarding subnet and IP address both
  neutron/db/l3_db.py
  neutron/tests/functional/services/portforwarding/test_port_forwarding.py
  neutron/tests/unit/extensions/test_expose_port_forwarding_in_fip.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Increase timout of gate jobs
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

supported_vnic_type configurable for sriov
  doc/source/admin/config-ml2.rst
  neutron/conf/plugins/ml2/drivers/mech_sriov/mech_sriov_conf.py
  neutron/opts.py
  neutron/plugins/ml2/drivers/mech_sriov/mech_driver/mech_driver.py
  neutron/tests/unit/plugins/ml2/drivers/mech_sriov/mech_driver/test_mech_sriov_nic_switch.py
  releasenotes/notes/make-supported-vnic-types-configurable-for-sriov-094f7663e8975e9b.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Pass network's dns_domain to dnsmasq conf
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
  releasenotes/notes/dns_domain-6f0e628aeb3c650c.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Set router_id if floating IP has port_forwardings
  neutron/db/l3_db.py
  neutron/tests/unit/extensions/test_expose_port_forwarding_in_fip.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Install centralized floating IP nat rules to all ha nodes
  neutron/agent/l3/dvr_edge_router.py
  neutron/agent/l3/dvr_local_router.py
  neutron/tests/common/l3_test_common.py
  neutron/tests/functional/agent/l3/framework.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use NetworkRBAC OVO in tests/unit/db/test_db_base_plugin_v2.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Use system protocol assigments for iptables protocol map
  neutron/agent/linux/iptables_firewall.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update lower-constraints to meet neutron-lib
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use MAX_RETRIES from neutron-lib
  neutron/common/utils.py
  neutron/db/api.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Wait to ipv6 forwarding be really changed by L3 agent
  neutron/tests/functional/agent/l3/test_ha_router.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add protocol to port_forwarding uniq constraint
  neutron/db/migration/alembic_migrations/versions/EXPAND_HEAD
  neutron/db/migration/alembic_migrations/versions/stein/expand/d72db3e25539_modify_uniq_port_forwarding.py
  neutron/db/models/port_forwarding.py
  neutron/objects/port_forwarding.py
  neutron/services/portforwarding/pf_plugin.py
  neutron/tests/unit/extensions/test_expose_port_forwarding_in_fip.py
  neutron/tests/unit/objects/test_objects.py
  releasenotes/notes/change-port-forwarding-uniq-constraint-78ba3db20bce5fd2.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add missing step for ovs deploy guides
  doc/source/admin/deploy-ovs-ha-vrrp.rst
  doc/source/admin/deploy-ovs-selfservice.rst
Due: none

Bump neutron-lib to version 1.20.0
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DevStack: OVS: Only install kernel-* packages when needed
  devstack/lib/ovs
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Switch to new engine facade in neutron/db/agents_db.py
  neutron/db/agents_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ml2/rpc: provide a small helper to avoid redundancy
  neutron/plugins/ml2/rpc.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use RBACBaseObject OVO in neutron/db/rbac_db_mixin.py
  neutron/db/rbac_db_mixin.py
  neutron/db/rbac_db_models.py
  neutron/objects/network.py
  neutron/objects/qos/policy.py
  neutron/objects/rbac.py
  neutron/objects/rbac_db.py
  neutron/services/qos/qos_plugin.py
  neutron/tests/unit/db/test_rbac_db_mixin.py
  neutron/tests/unit/objects/qos/test_policy.py
  neutron/tests/unit/objects/test_network.py
  neutron/tests/unit/objects/test_objects.py
  neutron/tests/unit/objects/test_rbac.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Incorporate capability for multiple mac generation
  neutron/db/db_base_plugin_common.py
  neutron/db/db_base_plugin_v2.py
  neutron/tests/common/net_helpers.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
  neutron/tests/unit/plugins/ml2/test_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add python 3.6 unit test job
  tox.ini
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Refactor _cache_related_dvr_routers_info_before_interface_removal()
  neutron/db/l3_dvr_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Prevent create port forwarding to port which has binding fip
  neutron/services/portforwarding/common/exceptions.py
  neutron/services/portforwarding/pf_plugin.py
  neutron/tests/functional/services/portforwarding/test_port_forwarding.py
  neutron/tests/unit/services/portforwarding/test_pf_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
