Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-functional-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional-python35/run.yaml
  post-run: playbooks/legacy/neutron-functional-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack-python35/run.yaml
  post-run: playbooks/legacy/neutron-fullstack-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-task:
  parent: rally-task-neutron
  timeout: 7800
  vars:
    devstack_plugins:
      rally-openstack: https://git.openstack.org/openstack/rally-openstack
      neutron: https://git.openstack.org/openstack/neutron
    devstack_services:
      neutron-trunk: true
    rally_task: rally-jobs/task-neutron.yaml
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

Make L3 IP tc filter rate limit more accurate
  etc/neutron/rootwrap.d/l3.filters
  neutron/agent/linux/l3_tc_lib.py
  neutron/tests/unit/agent/linux/test_l3_tc_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use plugin utils from neutron-lib
  neutron/api/rpc/handlers/dhcp_rpc.py
  neutron/db/l3_db.py
  neutron/db/l3_dvr_db.py
  neutron/db/l3_hamode_db.py
  neutron/plugins/common/utils.py
  neutron/plugins/ml2/drivers/helpers.py
  neutron/plugins/ml2/plugin.py
  neutron/services/auto_allocate/db.py
  neutron/tests/unit/api/rpc/handlers/test_dhcp_rpc.py
  neutron/tests/unit/plugins/common/__init__.py
  neutron/tests/unit/plugins/common/test_utils.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix UT BridgeLibTest when IPv6 is disabled
  neutron/tests/unit/agent/linux/test_bridge_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Multiple port binding for ML2
  neutron/agent/rpc.py
  neutron/common/exceptions.py
  neutron/common/utils.py
  neutron/extensions/portbindings_extended.py
  neutron/objects/ports.py
  neutron/plugins/ml2/driver_context.py
  neutron/plugins/ml2/models.py
  neutron/plugins/ml2/plugin.py
  neutron/services/logapi/common/validators.py
  neutron/services/qos/drivers/manager.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/common/test_utils.py
  neutron/tests/unit/objects/test_objects.py
  neutron/tests/unit/objects/test_ports.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/plugins/ml2/test_port_binding.py
  neutron/tests/unit/services/logapi/common/test_validators.py
  neutron/tests/unit/services/qos/drivers/test_manager.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Pluralize binding relationship in Port
  neutron/agent/rpc.py
  neutron/db/l3_dvrscheduler_db.py
  neutron/objects/ports.py
  neutron/plugins/ml2/models.py
  neutron/plugins/ml2/plugin.py
  neutron/services/logapi/common/validators.py
  neutron/services/qos/drivers/manager.py
  neutron/tests/unit/objects/test_objects.py
  neutron/tests/unit/objects/test_ports.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/services/logapi/common/test_validators.py
  neutron/tests/unit/services/qos/drivers/test_manager.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update get_port_binding_host for multiple bindings
  neutron/plugins/ml2/db.py
  neutron/tests/unit/plugins/ml2/test_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add binding_deactivate method to Linux bridge agent
  neutron/agent/_topics.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/plugins/ml2/plugin.py
  neutron/plugins/ml2/rpc.py
  neutron/tests/unit/plugins/ml2/drivers/linuxbridge/agent/test_linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Support binding_deactivate in CacheBackedPluginApi
  neutron/agent/rpc.py
  neutron/tests/unit/agent/test_rpc.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add binding de-activation to OVS agent
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix fwaas v1 configuration doc
  doc/source/admin/fwaas-v1-scenario.rst
Due: none

Add multiple IPv6 EUI-64 addresses test
  neutron/tests/unit/db/test_ipam_pluggable_backend.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

[server side] Floating IP port forwarding OVO and db script
  neutron/api/rpc/callbacks/resources.py
  neutron/db/migration/alembic_migrations/versions/EXPAND_HEAD
  neutron/db/migration/alembic_migrations/versions/rocky/expand/867d39095bf4_port_forwarding.py
  neutron/db/models/port_forwarding.py
  neutron/objects/port_forwarding.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/objects/test_objects.py
  neutron/tests/unit/objects/test_port_forwarding.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Added scope file for Better Code Hub.
  .bettercodehub.yml
  .gitignore
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] HA L3 agent restart only standby agents
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/test_l3_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Set trusted port only once in iptables firewall driver
  neutron/agent/linux/iptables_firewall.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Move l3_notifier check in remove_router_from_l3_agent()
  neutron/db/l3_agentschedulers_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use retry_db_errors from neutron-lib
  neutron/api/rpc/handlers/dhcp_rpc.py
  neutron/api/rpc/handlers/l3_rpc.py
  neutron/api/v2/base.py
  neutron/db/agents_db.py
  neutron/db/api.py
  neutron/db/l3_dvr_db.py
  neutron/pecan_wsgi/controllers/utils.py
  neutron/plugins/ml2/drivers/type_tunnel.py
  neutron/plugins/ml2/drivers/type_vlan.py
  neutron/plugins/ml2/plugin.py
  neutron/scheduler/l3_agent_scheduler.py
  neutron/tests/unit/db/test_api.py
  neutron/tests/unit/db/test_dvr_mac_db.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add list of all working DSCP marks
  doc/source/admin/config-qos.rst
Due: none

Update _check_router_retain_needed()
  neutron/db/l3_agentschedulers_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Change neutron CLI to openstack CLI in neutron doc
  doc/source/admin/config-bgp-dynamic-routing.rst
  doc/source/admin/config-dns-int-ext-serv.rst
  doc/source/admin/config-dns-int.rst
  doc/source/admin/config-dvr-ha-snat.rst
  doc/source/admin/config-rbac.rst
  doc/source/admin/config-service-subnets.rst
  doc/source/admin/ops-resource-tags.rst
  doc/source/admin/shared/deploy-ha-vrrp-initialnetworks.txt
  doc/source/admin/shared/deploy-selfservice-initialnetworks.txt
Due: none

Docs: Fix wrong stestr argument
  TESTING.rst
Due: none

Add osprofiler to api-paste pipeline
  etc/api-paste.ini
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add missing policy actions to policy.json file
  etc/policy.json
  neutron/tests/etc/policy.json
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix neutron-openvswitch-agent Windows support
  neutron/agent/common/ip_lib.py
  neutron/agent/common/utils.py
  neutron/agent/linux/async_process.py
  neutron/agent/linux/iptables_manager.py
  neutron/agent/linux/utils.py
  neutron/agent/windows/ip_lib.py
  neutron/agent/windows/utils.py
  neutron/common/exceptions.py
  neutron/tests/unit/agent/linux/test_async_process.py
  neutron/tests/unit/agent/linux/test_iptables_manager.py
  neutron/tests/unit/agent/linux/test_utils.py
  neutron/tests/unit/agent/windows/test_utils.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Reduce IP address collision during port creating
  neutron/ipam/drivers/neutrondb_ipam/driver.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add binding activation to OVS agent
  neutron/agent/rpc.py
  neutron/common/constants.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/agent/test_rpc.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Implement filter validation
  neutron/api/api_common.py
  neutron/api/v2/base.py
  neutron/common/utils.py
  neutron/conf/common.py
  neutron/db/db_base_plugin_v2.py
  neutron/extensions/_filter_validation_lib.py
  neutron/extensions/_port_mac_address_regenerate_lib.py
  neutron/extensions/filter_validation.py
  neutron/extensions/network_ip_availability.py
  neutron/extensions/portbindings_extended.py
  neutron/extensions/rbac.py
  neutron/extensions/securitygroup.py
  neutron/extensions/segment.py
  neutron/manager.py
  neutron/pecan_wsgi/controllers/utils.py
  neutron/pecan_wsgi/hooks/query_parameters.py
  neutron/plugins/ml2/plugin.py
  neutron/services/auto_allocate/plugin.py
  neutron/services/flavors/flavors_plugin.py
  neutron/services/l3_router/l3_router_plugin.py
  neutron/services/logapi/logging_plugin.py
  neutron/services/metering/metering_plugin.py
  neutron/services/network_ip_availability/plugin.py
  neutron/services/qos/qos_plugin.py
  neutron/services/revisions/revision_plugin.py
  neutron/services/segments/plugin.py
  neutron/services/tag/tag_plugin.py
  neutron/services/timestamp/timestamp_plugin.py
  neutron/services/trunk/plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/api/v2/test_base.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
  neutron/tests/unit/test_manager.py
  releasenotes/notes/support-filter-validation-fee2cdeedbe8ad76.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

bump neutron-lib requirements to 1.18.0
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add binding activation to the Linuxbridge agent
  neutron/plugins/ml2/drivers/agent/_common_agent.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/plugins/ml2/plugin.py
  neutron/plugins/ml2/rpc.py
  neutron/tests/unit/plugins/ml2/drivers/agent/test__common_agent.py
  neutron/tests/unit/plugins/ml2/drivers/linuxbridge/agent/test_linuxbridge_neutron_agent.py
  neutron/tests/unit/plugins/ml2/test_rpc.py
  releasenotes/notes/add-multiple-port-bindings-f16eb47ebdddff2d.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix ml2 hierarchical port binding driver check error.
  neutron/plugins/ml2/managers.py
  neutron/tests/unit/plugins/ml2/test_managers.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use callback payloads for PRECOMMIT_UPDATE events
  neutron/db/l3_db.py
  neutron/db/l3_dvr_db.py
  neutron/db/l3_hamode_db.py
  neutron/db/securitygroups_db.py
  neutron/plugins/ml2/plugin.py
  neutron/services/auto_allocate/db.py
  neutron/services/l3_router/service_providers/driver_controller.py
  neutron/services/qos/qos_plugin.py
  neutron/services/trunk/callbacks.py
  neutron/services/trunk/plugin.py
  neutron/tests/unit/db/test_securitygroups_db.py
  neutron/tests/unit/extensions/test_l3.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/services/l3_router/service_providers/test_driver_controller.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
  neutron/tests/unit/services/trunk/test_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[QoS] Clear rate limits when default null values are used
  neutron/agent/l3/extensions/qos/fip.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
