Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-neutron:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-rally-neutron/run.yaml
  post-run: playbooks/legacy/neutron-rally-neutron/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/aodh
  - openstack/ceilometer
  - openstack/diskimage-builder
  - openstack/ironic
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-grenade:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-grenade/run.yaml
  post-run: playbooks/legacy/neutron-grenade/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron

pecan.jsonify v1.3 adjustment
  neutron/tests/tools.py
  neutron/tests/unit/api/v2/test_base.py
  neutron/tests/unit/extensions/test_providernet.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix pylint no-value-for-parameter error
  neutron/tests/functional/db/test_migrations.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add a shim extension standard-attr-segment
  neutron/extensions/_standard_attr_segment_lib.py
  neutron/extensions/standard_attr_segment.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Make OVSDB debug logging optional
  neutron/agent/ovsdb/impl_idl.py
  neutron/conf/agent/ovsdb_api.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

eventlet v0.22 changed HttpProtocol.__init__
  neutron/agent/linux/utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[RBAC] Fix setting network as not shared
  neutron/db/db_base_plugin_v2.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

fullstack: Simplify ConfigFixture
  neutron/tests/fullstack/resources/config.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix meter-label-rule creation
  neutron/services/metering/drivers/iptables/iptables_driver.py
  neutron/tests/unit/services/metering/drivers/test_iptables.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Automatically expire obsolete relationships
  lower-constraints.txt
  neutron/db/api.py
  neutron/db/db_base_plugin_common.py
  neutron/db/db_base_plugin_v2.py
  neutron/db/l3_db.py
  neutron/db/rbac_db_mixin.py
  neutron/db/securitygroups_db.py
  neutron/objects/base.py
  neutron/tests/unit/db/test_agents_db.py
  neutron/tests/unit/extensions/test_flavors.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/services/logapi/test_logging_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "Automatically expire obsolete relationships"
  lower-constraints.txt
  neutron/db/api.py
  neutron/db/db_base_plugin_common.py
  neutron/db/db_base_plugin_v2.py
  neutron/db/l3_db.py
  neutron/db/rbac_db_mixin.py
  neutron/db/securitygroups_db.py
  neutron/objects/base.py
  neutron/tests/unit/db/test_agents_db.py
  neutron/tests/unit/extensions/test_flavors.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/services/logapi/test_logging_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs-fw: Apply openflow rules immediately during update
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/tests/common/conn_testers.py
  neutron/tests/common/net_helpers.py
  neutron/tests/unit/agent/linux/openvswitch_firewall/test_firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Linuxbridge] Handle properly too big VXLAN MTU values
  neutron/agent/linux/ip_lib.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
  neutron/tests/unit/plugins/ml2/drivers/linuxbridge/agent/test_linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Eliminate possible insecure usage of temp file/directory
  neutron/agent/linux/keepalived.py
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Do not remove conntrack jump rules if no zone
  neutron/agent/linux/iptables_firewall.py
  neutron/tests/unit/agent/test_securitygroups_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Move standard-attr-segment to service plugin
  neutron/plugins/ml2/plugin.py
  neutron/services/segments/plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Adds egress and ingress forward rules for trusted ports
  neutron/agent/linux/iptables_firewall.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
  neutron/tests/unit/agent/test_securitygroups_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix the supported_extension_aliases in unit test
  neutron/tests/unit/extensions/test_flavors.py
Due: neutron-functional, neutron-fullstack

No need for www_authenticate_uri in [designate]
  doc/source/admin/config-dns-int-ext-serv.rst
Due: none

Add port_details to Floating IP
  neutron/db/l3_fip_port_details.py
  neutron/db/models/l3.py
  neutron/extensions/_fip_port_details_lib.py
  neutron/extensions/fip_port_details.py
  neutron/services/l3_router/l3_router_plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/extensions/test_fip_port_details.py
  releasenotes/notes/add-port_details-to-floatingip-fefceab2c740e482.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Re-factor the iptables_manager tests
  neutron/tests/unit/agent/linux/test_iptables_manager.py
Due: neutron-functional, neutron-fullstack

Remove N536 ignore in tox.ini
  tox.ini
Due: neutron-functional, neutron-fullstack

Switch rally trunk scenario to use new rally validators
  rally-jobs/plugins/trunk_scenario.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Increase lower-constraints job timeout to 60 minutes
  tox.ini
Due: neutron-functional, neutron-fullstack

fullstack: Migration from iptables_hybrid to openvswitch
  neutron/agent/linux/openvswitch_firewall/iptables.py
  neutron/tests/common/config_fixtures.py
  neutron/tests/fullstack/resources/machine.py
  neutron/tests/fullstack/test_firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Document mixed scenario with LB and OVS over VXLAN
  doc/source/admin/deploy-lb-ha-vrrp.rst
  doc/source/admin/deploy-lb-selfservice.rst
Due: none

Remove deprecated IVS interface driver
  etc/neutron/rootwrap.d/dhcp.filters
  neutron/agent/linux/interface.py
  neutron/tests/unit/agent/common/test_utils.py
  neutron/tests/unit/agent/linux/test_interface.py
  releasenotes/notes/ivs-interfacedriver-removal-a9cce87310028b99.yaml
  setup.cfg
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "Revert "Automatically expire obsolete relationships""
  lower-constraints.txt
  neutron/db/api.py
  neutron/db/db_base_plugin_common.py
  neutron/db/db_base_plugin_v2.py
  neutron/db/l3_db.py
  neutron/db/rbac_db_mixin.py
  neutron/db/securitygroups_db.py
  neutron/objects/base.py
  neutron/tests/unit/db/test_agents_db.py
  neutron/tests/unit/extensions/test_flavors.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/services/logapi/test_logging_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Convert Segment db model to OVO
  neutron/db/segments_db.py
  neutron/services/segments/plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

remove rpc create_connection
  neutron/agent/l3/extensions/fip_qos.py
  neutron/agent/resource_cache.py
  neutron/agent/rpc.py
  neutron/common/rpc.py
  neutron/plugins/ml2/plugin.py
  neutron/services/l3_router/l3_router_plugin.py
  neutron/services/logapi/rpc/server.py
  neutron/services/metering/metering_plugin.py
  neutron/services/trunk/rpc/agent.py
  neutron/services/trunk/rpc/server.py
  neutron/tests/unit/agent/l3/extensions/test_fip_qos.py
  neutron/tests/unit/agent/test_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Retry dhcp_release on failures
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

objects: automatically detect whether engine facade is used
  doc/source/contributor/internals/objects_usage.rst
  neutron/objects/base.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add a debug env for unit tests
  tox.ini
Due: neutron-functional, neutron-fullstack

Select service_provider on the basis of service_module
  doc/source/contributor/contribute.rst
  neutron/services/l3_router/service_providers/driver_controller.py
  neutron/services/provider_configuration.py
  neutron/tests/unit/extensions/test_servicetype.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix hw_vif_multiqueue_enabled typo
  doc/source/admin/config-ovs-dpdk.rst
Due: none

shim _setUpExtension in prep to changing args
  neutron/tests/unit/extensions/base.py
  neutron/tests/unit/extensions/test_flavors.py
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-fullstack

remove common db alaises to db utils
  neutron/db/common_db_mixin.py
  neutron/db/l3_db.py
  neutron/tests/unit/db/test__utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
