Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-functional-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional-python35/run.yaml
  post-run: playbooks/legacy/neutron-functional-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack-python35/run.yaml
  post-run: playbooks/legacy/neutron-fullstack-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-task:
  parent: rally-task-neutron
  timeout: 7800
  vars:
    devstack_plugins:
      rally-openstack: https://git.openstack.org/openstack/rally-openstack
      neutron: https://git.openstack.org/openstack/neutron
    devstack_services:
      neutron-trunk: true
    rally_task: rally-jobs/task-neutron.yaml
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

[Fullstack] Add block test until IPs will be really configured
  neutron/tests/fullstack/test_securitygroup.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Scenario tests] Try longer SSH timeout for ubuntu image
  neutron/tests/contrib/hooks/ubuntu_image
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix url in thirdparty-ci.rst
  doc/source/contributor/policies/thirdparty-ci.rst
Due: none

remove safe_reference from common db mixin
  neutron/db/common_db_mixin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix Port OVO filtering based on security groups
  neutron/objects/ports.py
  neutron/tests/unit/objects/test_ports.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[OVS] Add mac-table-size to be set on each ovs bridge
  neutron/agent/common/ovs_lib.py
  neutron/conf/agent/ovs_conf.py
  neutron/tests/functional/agent/test_ovs_lib.py
  releasenotes/notes/ovs-mac-table-size-config-option-d255d5208650f34b.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix unscheduling fail when concurrent port delete
  neutron/db/agentschedulers_db.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use object utils from neutron-lib
  doc/source/contributor/internals/objects_usage.rst
  neutron/db/_model_query.py
  neutron/objects/agent.py
  neutron/objects/db/api.py
  neutron/objects/utils.py
  neutron/tests/unit/objects/db/test_api.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/objects/test_utils.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use make_weak_ref and resolve_ref from neutron-lib
  neutron/common/utils.py
  neutron/db/_model_query.py
  neutron/db/_resource_extend.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Annotate filter parameters for tag attributes
  neutron/extensions/tagging.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use OVO in ml2/test_db
  neutron/tests/unit/plugins/ml2/test_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Fix url in alembic_migrations.rst
  doc/source/contributor/alembic_migrations.rst
Due: none

Add BEFORE notification event for subnet in ml2 plugin
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update links in README
  doc/source/contributor/contribute.rst
  doc/source/contributor/effective_neutron.rst
  doc/source/contributor/internals/upgrade.rst
  doc/source/contributor/policies/bugs.rst
  doc/source/contributor/policies/neutron-teams.rst
  doc/source/contributor/stadium/governance.rst
  doc/source/contributor/stadium/index.rst
Due: none

Configure privsep helper in neutron-netns-cleanup
  neutron/cmd/netns_cleanup.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

remove model_query_scope from common db mixin
  neutron/db/common_db_mixin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Convert missing exception on device.link.delete()
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/unit/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[OVS] Fix for cleaning after skipped_devices
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix DVR scheduling checks wrong profile for host
  neutron/db/l3_dvrscheduler_db.py
  neutron/tests/unit/scheduler/test_l3_agent_scheduler.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Allow DHCP_OPT_CLIENT_ID_NUM to be string
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix exception in neutron-sanity-check
  neutron/cmd/sanity_check.py
  neutron/tests/unit/cmd/test_sanity_check.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Handle AgentNotFoundByTypeHost exception properly
  neutron/db/l3_agentschedulers_db.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Mark test_ha_router_restart_agents_no_packet_lost as unstable
  neutron/tests/fullstack/test_l3_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Improve patching of sys.argv
  neutron/tests/unit/agent/dhcp/test_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Remove the unit test 'test_ports_vnic_type_list'
  neutron/tests/unit/_test_extension_portbindings.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Update doc on stable release frequency
  doc/source/contributor/policies/release-checklist.rst
Due: none

Use neutron-tempest-plugin-jobs-queens job template
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: Self recover from the loss of 'fg' ports in FIP Namespace
  neutron/agent/l3/dvr_local_router.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix the tests for filtering with qos_policy_id
  neutron/tests/fullstack/resources/client.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add/rm centralized fips for DVR+HA from standby node
  neutron/agent/l3/dvr_edge_ha_router.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: FloatingIP create throws an error if no l3 agent
  neutron/db/l3_dvr_db.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "DVR: Fix allowed_address_pair IP, ARP table update by neutron agent"
  neutron/agent/l3/dvr.py
  neutron/agent/l3/dvr_local_router.py
  neutron/db/l3_dvr_db.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs: removed sinkhole RPC target for old topics
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Wait for SG to be applied by L2 agent
  neutron/tests/fullstack/test_securitygroup.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Don't set administratively disabled ports as ACTIVE
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Windows: fix exec calls
  neutron/agent/windows/utils.py
  neutron/agent/windows/winutils.py
  neutron/common/eventlet_utils.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
