Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-forward: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pecan: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-with-ryu-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Minimizing lock for port forwarding
  neutron/agent/l3/extensions/port_forwarding.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Updating bgp driver to match what neutron-dynamic-routing supports
  doc/source/admin/config-bgp-dynamic-routing.rst
Due: none

Revert "Pass network's dns_domain to dnsmasq conf"
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
  releasenotes/notes/dns_domain-6f0e628aeb3c650c.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

DVR: on new port only send router update on port's host
  neutron/db/l3_dvrscheduler_db.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
  neutron/tests/unit/scheduler/test_l3_agent_scheduler.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

segments: Fix resource provider inventories update
  neutron/services/segments/plugin.py
  neutron/tests/unit/extensions/test_segment.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Add missing ws separator between words
  neutron/conf/common.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Switch to new engine facade for Schedulers
  neutron/db/agentschedulers_db.py
  neutron/db/l3_agentschedulers_db.py
  neutron/scheduler/dhcp_agent_scheduler.py
  neutron/scheduler/l3_agent_scheduler.py
  neutron/tests/unit/db/test_agents_db.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

use object standardattributes from neutron-lib
  neutron/objects/base.py
  neutron/objects/extensions/standardattributes.py
  neutron/objects/stdattrs.py
  neutron/tests/unit/objects/extensions/__init__.py
  neutron/tests/unit/objects/extensions/test_standardattributes.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Reset MAC on unbinding direct-physical port
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix :param: in docstring
  neutron/common/utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

metadata: use requests for comms with nova api
  neutron/agent/metadata/agent.py
  neutron/tests/unit/agent/metadata/test_agent.py
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix update of network's segmentation id
  neutron/plugins/ml2/drivers/mech_agent.py
  neutron/plugins/ml2/drivers/openvswitch/mech_driver/mech_openvswitch.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/drivers/mechanism_test.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix mis-use of _dvr_to_src_mac_table_id
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_int.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_br_int.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Retry trunk status updates failing with StaleDataError
  neutron/services/trunk/rpc/server.py
  neutron/tests/unit/services/trunk/rpc/test_server.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Switch to new engine facade for DriverController
  neutron/services/l3_router/service_providers/driver_controller.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Add fwaas_v2 log optional configuration in l3_agent.ini
  doc/source/admin/config-logging.rst
  neutron/opts.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Use status_code instead of status in requests
  neutron/agent/metadata/agent.py
  neutron/tests/unit/agent/metadata/test_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Allow VM booting rally scenarios to time out
  rally-jobs/task-neutron.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Update some docs to use openstack client
  doc/source/admin/config-dns-int-ext-serv.rst
  doc/source/admin/config-routed-networks.rst
Due: none

[Doc] Drop some experimental warnings from admin guide
  doc/source/admin/config-dvr-ha-snat.rst
  doc/source/admin/config-ipam.rst
  doc/source/admin/config-ovsfwdriver.rst
  doc/source/admin/intro-os-networking.rst
Due: none

Increase TestDhcpAgentHA.agent_down_time to 30 seconds
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/test_dhcp_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Add agent timestamp to "_log_heartbeat" method
  neutron/db/agents_db.py
  neutron/tests/common/helpers.py
  neutron/tests/unit/db/test_agents_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove mock of not existing method in L3 agent UT.
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-fullstack

Read IP monitor changes in a parallel thread
  neutron/agent/linux/ip_lib.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

bump neutron-lib to 1.27.0
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

use subnet_service_types extension from neutron-lib
  neutron/extensions/subnet_service_types.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

ovs: raise RuntimeError in _get_dp if id is None
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/ovs_bridge.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_ovs_bridge.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

[DVR] Block ARP to dvr router's port instead of subnet's gateway
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

use object event_types from neutron-lib
  neutron/objects/logapi/event_types.py
  neutron/objects/logapi/logging_resource.py
  neutron/tests/unit/objects/test_base.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Prevent create port forwarding to port which has binding fip
  neutron/services/portforwarding/common/exceptions.py
  neutron/services/portforwarding/pf_plugin.py
  neutron/tests/functional/services/portforwarding/test_port_forwarding.py
  neutron/tests/unit/services/portforwarding/test_pf_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Update DPDK docs with note about using veth pairs
  doc/source/admin/config-ovs-dpdk.rst
Due: none

Add more debug information TestNeutronServer
  neutron/tests/functional/test_server.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Join on explcit relationship paths
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-fullstack
