Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-neutron:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-rally-neutron/run.yaml
  post-run: playbooks/legacy/neutron-rally-neutron/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/aodh
  - openstack/ceilometer
  - openstack/diskimage-builder
  - openstack/ironic
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-grenade:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-grenade/run.yaml
  post-run: playbooks/legacy/neutron-grenade/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron

Avoid agents adding ports as trunk by default.
  neutron/agent/common/ovs_lib.py
  neutron/agent/l3/router_info.py
  neutron/agent/linux/interface.py
  neutron/tests/common/net_helpers.py
  neutron/tests/functional/agent/l2/base.py
  neutron/tests/functional/agent/l3/framework.py
  neutron/tests/functional/agent/test_ovs_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Trivial: Update pypi url to new url
  TESTING.rst
  doc/source/admin/vpnaas-scenario.rst
  doc/source/contributor/stadium/guidelines.rst
Due: none

Update auth_url in install docs
  doc/source/admin/archives/config-identity.rst
  doc/source/admin/config-dns-int-ext-serv.rst
  doc/source/install/compute-install-obs.rst
  doc/source/install/compute-install-rdo.rst
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-option1-obs.rst
  doc/source/install/controller-install-option1-rdo.rst
  doc/source/install/controller-install-option2-obs.rst
  doc/source/install/controller-install-option2-rdo.rst
  doc/source/install/controller-install-rdo.rst
Due: none

python3: Add experimental jobs for functional and fullstack
  .zuul.yaml
  playbooks/legacy/neutron-fullstack-python35/post.yaml
  playbooks/legacy/neutron-fullstack-python35/run.yaml
  playbooks/legacy/neutron-functional-python35/post.yaml
  playbooks/legacy/neutron-functional-python35/run.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fullstack: Add using multiple security groups
  neutron/tests/fullstack/test_securitygroup.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

py3: Fix ingress_bw_limit_for_dpdk_port() value conversion
  neutron/agent/common/ovs_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

py3: Fix list_entries for netlink_lib
  neutron/privileged/agent/linux/netlink_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

objects: avoid deepcopying models in test_db_obj
  neutron/objects/base.py
  neutron/objects/ports.py
  neutron/tests/unit/objects/test_base.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[ci][rally] make the job inherit the right parent
  .zuul.yaml
  playbooks/legacy/neutron-rally-neutron/post.yaml
  playbooks/legacy/neutron-rally-neutron/run.yaml
  rally-jobs/task-neutron.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Adds egress and ingress forward rules for trusted ports
  neutron/agent/linux/iptables_firewall.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
  neutron/tests/unit/agent/test_securitygroups_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fixed PortBindingLevelDbObjectTestCase
  neutron/objects/ports.py
  neutron/plugins/ml2/models.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/objects/test_objects.py
  neutron/tests/unit/objects/test_ports.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Refactor for L3 router QoS extensions
  neutron/agent/l3/extensions/qos/__init__.py
  neutron/agent/l3/extensions/qos/base.py
  neutron/agent/l3/extensions/qos/fip.py
  neutron/tests/functional/agent/l3/extensions/qos/__init__.py
  neutron/tests/functional/agent/l3/extensions/qos/test_fip_qos_extension.py
  neutron/tests/unit/agent/l3/extensions/qos/__init__.py
  neutron/tests/unit/agent/l3/extensions/qos/test_base.py
  neutron/tests/unit/agent/l3/extensions/qos/test_fip.py
  setup.cfg
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix W605 warnings
  doc/source/conf.py
  neutron/tests/unit/agent/linux/test_ip_monitor.py
Due: neutron-functional, neutron-fullstack

Use Param DHCP_OPT_CLIENT_ID_NUM
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
  releasenotes/notes/ib-dhcp-allocation-fix-a4ebe8b55bb2c065.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Don't delete flows on ports which were on dead vlan during plug
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[rally] Port custom plugins to use proper code
  rally-jobs/plugins/trunk_scenario.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

l3 flavor: more events/notifications and callback priority
  neutron/db/extraroute_db.py
  neutron/db/l3_dvr_db.py
  neutron/db/l3_gwmode_db.py
  neutron/db/l3_hamode_db.py
  neutron/services/l3_router/service_providers/driver_controller.py
  neutron/tests/unit/db/test_extraroute_db.py
  neutron/tests/unit/db/test_l3_hamode_db.py
  neutron/tests/unit/services/l3_router/service_providers/test_driver_controller.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix delete vlan allocation error for ML2
  neutron/plugins/ml2/drivers/type_vlan.py
  neutron/tests/unit/plugins/ml2/drivers/test_type_vlan.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix lack of routes for neighbour IPv4 subnets
  neutron/agent/dhcp/agent.py
  neutron/api/rpc/handlers/dhcp_rpc.py
  neutron/tests/unit/api/rpc/handlers/test_dhcp_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix wrong release names in docs
  doc/source/admin/deploy-lb-provider.rst
  doc/source/admin/deploy-ovs-provider.rst
  doc/source/admin/deploy.rst
Due: none

use exc_to_retry from lib
  neutron/db/api.py
  neutron/db/db_base_plugin_v2.py
  neutron/tests/unit/db/test_api.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Change ovs release used to compile kernel module for tests node
  neutron/tests/contrib/gate_hook.sh
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use OVO in test_ipam_pluggable_backend
  neutron/tests/unit/db/test_ipam_pluggable_backend.py
Due: neutron-functional, neutron-fullstack

Update ubuntu image used for testing
  neutron/tests/contrib/hooks/ubuntu_image
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Allow setting network-segment on subnet update
  doc/source/admin/config-routed-networks.rst
  neutron/db/db_base_plugin_v2.py
  neutron/db/ipam_backend_mixin.py
  neutron/db/ipam_pluggable_backend.py
  neutron/extensions/subnet_segmentid_writable.py
  neutron/objects/subnet.py
  neutron/services/segments/exceptions.py
  neutron/services/segments/plugin.py
  neutron/tests/unit/extensions/test_segment.py
  releasenotes/notes/allow-update-subnet-segment-id-association-1fb02ace27e85bb8.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update docs about openvswitch compilation
  TESTING.rst
Due: none

expose objects as entry points in setup.cfg
  setup.cfg
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron

use dhcpagentscheduler api def from neutron-lib
  neutron/db/agentschedulers_db.py
  neutron/extensions/dhcpagentscheduler.py
  neutron/tests/unit/db/test_agentschedulers_db.py
  neutron/tests/unit/scheduler/test_dhcp_agent_scheduler.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

docs: Fix formatting block in ovs firewall docs
  doc/source/contributor/internals/openvswitch_firewall.rst
Due: none

Update neutron configuration documentation URL
  doc/source/install/environment-networking-rdo.rst
Due: none

Fix an attribute error on listing AZs with filters
  neutron/db/agents_db.py
  neutron/tests/unit/extensions/test_availability_zone.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix build-openstack-sphinx-docs test job
  doc/requirements.txt
Due: none

Disable IPv6 forwarding by default on HA routers
  neutron/agent/l3/ha_router.py
  neutron/agent/l3/namespaces.py
  neutron/agent/linux/ip_lib.py
  neutron/tests/fullstack/base.py
  neutron/tests/fullstack/test_connectivity.py
  neutron/tests/fullstack/test_l3_agent.py
  neutron/tests/functional/agent/l3/test_ha_router.py
  tools/configure_for_func_testing.sh
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Mention neutron-rootwrap-daemon in root_helper_daemon option help
  neutron/conf/agent/common.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Limit number of Neutron's api workers
  neutron/tests/fullstack/resources/config.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
