Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-functional-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional-python35/run.yaml
  post-run: playbooks/legacy/neutron-functional-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack-python35:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack-python35/run.yaml
  post-run: playbooks/legacy/neutron-fullstack-python35/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-task:
  parent: rally-task-neutron
  timeout: 7800
  vars:
    devstack_plugins:
      rally-openstack: https://git.openstack.org/openstack/rally-openstack
      neutron: https://git.openstack.org/openstack/neutron
    devstack_services:
      neutron-trunk: true
    rally_task: rally-jobs/task-neutron.yaml
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

Fix devstack/lib/ovs to run with Fedora 28
  devstack/lib/ovs
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add iptables metadata marking rule on router init
  neutron/agent/l3/router_info.py
  neutron/agent/metadata/driver.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/l3/test_l3_agent_extension_api.py
  neutron/tests/unit/agent/l3/test_router_info.py
  neutron/tests/unit/agent/metadata/test_driver.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

get_subnet_for_dvr returns SNAT mac instead of distributed gateway in subnet_info
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Remove fdb entries for ha router interfaces when going DOWN
  neutron/plugins/ml2/drivers/l2pop/mech_driver.py
  neutron/tests/unit/plugins/ml2/drivers/l2pop/test_mech_driver.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Wait until all router ports are DOWN before migration
  neutron/tests/tempest/scenario/test_migration.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Trivial: avoid KeyError while processing ports
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

doc: Address nits from I45fdc8e40121698bf144d0e0a65537edda2c805d
  doc/source/admin/config-sriov.rst
Due: none

Remove deprecated RamFilter from admin guide
  doc/source/admin/config-sriov.rst
Due: none

doc: Additional fixes to the SR-IOV doc
  doc/source/admin/config-sriov.rst
Due: none

metadata: use requests for comms with nova api
  neutron/agent/metadata/agent.py
  neutron/tests/unit/agent/metadata/test_agent.py
  requirements.txt
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs fw: apply the NORMAL action on egress traffic in a single table
  doc/source/contributor/internals/openvswitch_firewall.rst
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
  neutron/services/logapi/drivers/openvswitch/ovs_firewall_log.py
  neutron/tests/functional/services/logapi/test_logging.py
  neutron/tests/unit/services/logapi/drivers/openvswitch/test_ovs_firewall_log.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add fullstack test for logging
  neutron/tests/fullstack/resources/client.py
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/resources/environment.py
  neutron/tests/fullstack/test_logging.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Delete ovs port if namespace is corrupted
  neutron/agent/linux/interface.py
  neutron/tests/unit/agent/linux/test_interface.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

doc: Small clearances for fullstack testing
  TESTING.rst
Due: none

l2 pop: check for more than 1 first active port on a node
  neutron/plugins/ml2/drivers/l2pop/mech_driver.py
  neutron/tests/unit/plugins/ml2/drivers/l2pop/test_mech_driver.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Follow-up: add fullstack test for logging
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/test_logging.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

tests: Add decorator to mark unstable tests
  neutron/tests/tempest/scenario/base.py
  neutron/tests/tempest/scenario/test_floatingip.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[OVS] Shut down the port on changing the admin-state to false
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/fullstack/resources/client.py
  neutron/tests/fullstack/test_port_shut_down.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "DVR: Fix allowed_address_pair IP, ARP table update by neutron agent"
  neutron/agent/l3/dvr.py
  neutron/agent/l3/dvr_local_router.py
  neutron/db/l3_dvr_db.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix pylint warning with eventlet > 0.22.0
  .zuul.yaml
  neutron/agent/linux/utils.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "Use nested virt in scenario jobs"
  neutron/tests/contrib/gate_hook.sh
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Docs] Update note about default burst value in QoS bw limit
  doc/source/admin/config-qos.rst
Due: none

Update FIP QoS Docs
  doc/source/admin/config-qos.rst
Due: none

Use tempest-multinode-full job from Tempest
  .zuul.yaml
  playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  playbooks/legacy/neutron-tempest-multinode-full/run.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Don't uninstall flow tables in setup_dvr_flows_on_integ_br
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Integration of Port Binding Level OVO
  neutron/objects/ports.py
  neutron/plugins/ml2/db.py
  neutron/plugins/ml2/driver_context.py
  neutron/plugins/ml2/managers.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/agent/test_rpc.py
  neutron/tests/unit/objects/test_ports.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  releasenotes/notes/deprecate-get_binding_levels-function-84012e104ac572a1.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix pylint warning with eventlet > 0.22.0
  neutron/agent/linux/utils.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovsdb monitor: do not die on ovsdb-client stderr output
  neutron/agent/linux/ovsdb_monitor.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Mark securitygroups tests as unstable
  neutron/tests/fullstack/test_securitygroup.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

remove _setUpExtension
  neutron/tests/unit/extensions/base.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Fix IPv6 prefix delegation issue on agent restart
  neutron/agent/l3/router_info.py
  neutron/tests/common/l3_test_common.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use TenantIdProjectIdFilterConflict from neutron-lib
  neutron/common/exceptions.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use Tempest slow job to run all slow tests
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
