Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Update mysql connection in config-dhcp-ha.rst
  doc/source/admin/config-dhcp-ha.rst
Due: none

Add ip link functional tests
  neutron/tests/functional/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use revision if match api def from neutron-lib
  neutron/extensions/revisionifmatch.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Only allow SG port ranges for whitelisted protocols
  neutron/db/securitygroups_db.py
  neutron/extensions/securitygroup.py
  neutron/tests/unit/db/test_securitygroups_db.py
  neutron/tests/unit/extensions/test_securitygroup.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix creation of port when network has admin's QoS policy set
  neutron/services/qos/qos_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Imported Translations from Zanata
  neutron/locale/de/LC_MESSAGES/neutron.po
  neutron/locale/es/LC_MESSAGES/neutron.po
  neutron/locale/fr/LC_MESSAGES/neutron.po
  neutron/locale/it/LC_MESSAGES/neutron.po
  neutron/locale/ja/LC_MESSAGES/neutron.po
  neutron/locale/ko_KR/LC_MESSAGES/neutron.po
  neutron/locale/pt_BR/LC_MESSAGES/neutron.po
  neutron/locale/ru/LC_MESSAGES/neutron.po
  neutron/locale/tr_TR/LC_MESSAGES/neutron.po
  neutron/locale/zh_CN/LC_MESSAGES/neutron.po
  neutron/locale/zh_TW/LC_MESSAGES/neutron.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none

Enable more extensions in pep8
  tox.ini
Due: neutron-functional, neutron-fullstack

ovsfw: Use bundle when adding security group rules
  neutron/agent/common/ovs_lib.py
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/tests/unit/agent/common/test_ovs_lib.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/ovs_ofctl/test_br_tun.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Iptables firewall driver adds forward rules for trusted ports
  neutron/agent/linux/iptables_comments.py
  neutron/agent/linux/iptables_firewall.py
  neutron/agent/securitygroups_rpc.py
  neutron/tests/unit/agent/test_securitygroups_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Spawn/stop metadata proxies upon adding/deleting router interfaces
  neutron/agent/dhcp/agent.py
  neutron/tests/unit/agent/dhcp/test_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use plugin names from neutron_lib.plugins.constants
  neutron/plugins/common/constants.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

functional: Fix RABBIT_PASSWORD env var
  tools/configure_for_func_testing.sh
Due: neutron-functional, neutron-fullstack

Do not start conntrack worker thread from __init__
  neutron/agent/linux/ip_conntrack.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs-fw: Don't modify passed rules to update
  neutron/agent/linux/openvswitch_firewall/firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

async_process: Log stdout and stderr on process error
  neutron/agent/linux/async_process.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Make log extension more generic
  neutron/services/logapi/agent/log_extension.py
  neutron/services/logapi/drivers/openvswitch/ovs_firewall_log.py
  neutron/tests/functional/services/logapi/test_logging.py
  neutron/tests/unit/services/logapi/drivers/openvswitch/test_ovs_firewall_log.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Additional functional tests for ip_lib.IpAddrCommand
  neutron/tests/functional/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update upper-constraints consumption
  tox.ini
Due: neutron-functional, neutron-fullstack

Add search capability to the docs
  doc/source/index.rst
Due: none

remove SHARED constant that now lives in neutron-lib
  neutron/api/v2/attributes.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: Inter Tenant Traffic between networks not possible with shared net
  neutron/api/rpc/handlers/dvr_rpc.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/api/rpc/handlers/test_dvr_rpc.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Scenario tests] Try longer SSH timeout for ubuntu image
  neutron/tests/contrib/hooks/ubuntu_image
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[L3] Expunge context session during floating IP updating
  neutron/db/l3_db.py
  neutron/tests/unit/extensions/test_qos_fip.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "Do not start conntrack worker thread from __init__"
  neutron/agent/linux/ip_conntrack.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

remove unused common rpc apis
  neutron/common/rpc.py
  neutron/tests/base.py
  neutron/tests/unit/common/test_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

consume neutron-lib resources attr map
  doc/source/contributor/internals/policy.rst
  neutron/api/v2/attributes.py
  neutron/pecan_wsgi/controllers/quota.py
  neutron/pecan_wsgi/controllers/root.py
  neutron/pecan_wsgi/controllers/utils.py
  neutron/pecan_wsgi/startup.py
  neutron/plugins/common/utils.py
  neutron/policy.py
  neutron/tests/functional/api/test_policies.py
  neutron/tests/functional/pecan_wsgi/test_hooks.py
  neutron/tests/unit/api/v2/test_attributes.py
  neutron/tests/unit/api/v2/test_base.py
  neutron/tests/unit/extensions/test_tag.py
  neutron/tests/unit/test_policy.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Switch ip addr add/del/flush commands to use pyroute2
  neutron/agent/linux/ip_lib.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
  neutron/tests/unit/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Updated from global requirements
  requirements.txt
  test-requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron

Add broadcast to IpAddrCommand.get_devices_with_ip() return value
  neutron/agent/linux/ip_lib.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use is_extension_supported from neutron-lib
  neutron/api/rpc/agentnotifiers/dhcp_rpc_agent_api.py
  neutron/api/rpc/agentnotifiers/l3_rpc_agent_api.py
  neutron/api/rpc/agentnotifiers/metering_rpc_agent_api.py
  neutron/api/rpc/handlers/dhcp_rpc.py
  neutron/api/rpc/handlers/l3_rpc.py
  neutron/common/utils.py
  neutron/db/availability_zone/router.py
  neutron/db/dns_db.py
  neutron/db/l3_agentschedulers_db.py
  neutron/db/l3_db.py
  neutron/db/l3_dvrscheduler_db.py
  neutron/db/l3_hamode_db.py
  neutron/db/metering/metering_rpc.py
  neutron/plugins/ml2/plugin.py
  neutron/services/trunk/rules.py
  neutron/services/trunk/utils.py
  neutron/tests/unit/api/rpc/agentnotifiers/test_dhcp_rpc_agent_api.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add l3_agent_mode configuration in tempest
  neutron/tests/contrib/gate_hook.sh
  neutron/tests/contrib/hooks/dvr
  neutron/tests/tempest/config.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Config privsep in the linuxbridge agent
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix UTs to accommodate new_facade flag in OVO objects
  neutron/tests/unit/objects/test_base.py
Due: neutron-functional, neutron-fullstack

Updated from global requirements
  test-requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron

Switch create/delete interfaces to pyroute2
  neutron/agent/linux/ip_lib.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
  neutron/tests/unit/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add setting server_default in alter_enum(_add_value)
  neutron/db/migration/__init__.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Set trusted port only once in iptables firewall driver
  neutron/agent/linux/iptables_firewall.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade
