Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-neutron:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-rally-neutron/run.yaml
  post-run: playbooks/legacy/neutron-rally-neutron/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/aodh
  - openstack/ceilometer
  - openstack/diskimage-builder
  - openstack/ironic
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  nodeset: ubuntu-xenial-2-node
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

OVS flows for custom ethertypes must be on EGRESS
  neutron/agent/linux/openvswitch_firewall/firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

raise priority of dead vlan drop
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_int.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/ovs_ofctl/br_int.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_br_int.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/ovs_ofctl/test_br_int.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Configure keepalived interfaces according to config file
  neutron/tests/functional/agent/linux/test_keepalived.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

doc: Update QoS minimum bandwidth limitations for Train
  doc/source/admin/config-qos-min-bw.rst
Due: none

Initialize phys bridges before setup_rpc
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Use admin context when updating router gateway
  neutron/db/l3_db.py
  neutron/tests/fullstack/resources/client.py
  neutron/tests/fullstack/test_l3_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

[Unit tests] Skip TestWSGIServer with IPv6 if no IPv6 enabled
  neutron/tests/unit/test_wsgi.py
Due: neutron-functional, neutron-fullstack

ovsdb monitor: handle modified ports
  neutron/agent/common/ovsdb_monitor.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/functional/agent/l2/base.py
  neutron/tests/functional/services/trunk/drivers/openvswitch/agent/test_ovsdb_handler.py
  neutron/tests/unit/agent/common/test_ovsdb_monitor.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Adding LOG statements to debug 1838449
  neutron/api/rpc/handlers/l3_rpc.py
  neutron/db/l3_dvrscheduler_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

fixed_configured=True when Add/Remove port IPs
  neutron/db/ipam_pluggable_backend.py
  neutron/tests/unit/db/test_ipam_pluggable_backend.py
  neutron/tests/unit/extensions/test_segment.py
  releasenotes/notes/fix-update-port-fixed-ips-on-routed-provider-networks-c54a54844d9a3926.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

DVR: Multiple csnat ports created when RouterPort table update fails
  neutron/db/l3_dvr_db.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
  neutron/tests/unit/db/test_l3_dvr_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Add policy config for get_flavor_service_profile operation
  neutron/conf/policies/flavor.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Switch to openstack-python3-ussuri-jobs
  .zuul.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Randomize VNI in FdbInterfaceTestCase
  neutron/tests/functional/agent/linux/test_bridge_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Add radvd_user config option
  neutron/agent/linux/ra.py
  neutron/conf/agent/l3/config.py
  neutron/tests/unit/agent/l3/test_agent.py
  releasenotes/notes/radvd_user-config-option-24730a6d686fee18.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix misspell word
  doc/source/admin/deploy-ovs-ha-dvr.rst
Due: none

Mock openstacksdk raise_from_response in ironic unit test
  neutron/tests/unit/notifiers/test_ironic.py
Due: neutron-functional, neutron-fullstack

Handle ports assigned to routers without routerports
  neutron/db/l3_db.py
  neutron/objects/ports.py
  neutron/tests/unit/db/test_l3_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Convert Pyroute2 byte results to strings
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/unit/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Don't call super() in Timer class __init__ method
  neutron/common/utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

[doc][IPv6] make kernel config addr_gen_mode clear
  doc/source/admin/config-ipv6.rst
Due: none

switch to the newly created opensuse-15 nodeset
  .zuul.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Start using oslo_utils.netutils.is_ipv6_enabled()
  neutron/agent/l3/agent.py
  neutron/agent/linux/dhcp.py
  neutron/agent/linux/ip_lib.py
  neutron/agent/linux/iptables_firewall.py
  neutron/common/ipv6_utils.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/extension_drivers/qos_driver.py
  neutron/services/metering/drivers/iptables/iptables_driver.py
  neutron/tests/functional/agent/l3/test_ha_router.py
  neutron/tests/unit/agent/dhcp/test_agent.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/linux/test_bridge_lib.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
  neutron/tests/unit/common/test_ipv6_utils.py
  neutron/tests/unit/test_wsgi.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Update list of Neutron lieuetenants
  doc/source/contributor/policies/neutron-teams.rst
Due: none

[nova][train] Docs: Remove deprecated RetryFilter
  doc/source/admin/config-sriov.rst
Due: none

Log OVS firewall conjunction creation
  neutron/agent/linux/openvswitch_firewall/firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-forward: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pecan: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-with-ryu-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
