Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Path conditions:
  neutron-functional: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*\.sample$, ^zuul.d/(?!(project)).*\.yaml)
  neutron-functional-python27: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$) or (unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^neutron/agent/ovn/.*$, ^neutron/agent/windows/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/plugins/ml2/drivers/ovn/.*$, ^zuul.d/(?!(project)).*\.yaml)
  neutron-rally-task: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-fullstack-with-uwsgi: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$) or (unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^neutron/agent/ovn/.*$, ^neutron/agent/windows/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/plugins/ml2/drivers/ovn/.*$, ^zuul.d/(?!(project)).*\.yaml)
  neutron-functional-with-uwsgi: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*\.sample$, ^zuul.d/(?!(project)).*\.yaml)
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  networking-ovn-tempest-dsvm-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-centos-8-tripleo-standalone: unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^tox.ini$, ^neutron/agent/ovn/.*$, ^neutron/agent/windows/.*$, ^neutron/plugins/ml2/drivers/linuxbridge/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/plugins/ml2/drivers/ovn/.*$
  neutron-ovn-tripleo-ci-centos-8-containers-multinode: unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^tox.ini$, ^neutron/agent/dhcp/.*$, ^neutron/agent/l2/.*$, ^neutron/agent/l3/.*$, ^neutron/agent/metadata/.*$, ^neutron/agent/windows/.*$, ^neutron/agent/dhcp_agent.py, ^neutron/agent/l3_agent.py, ^neutron/agent/metadata_agent.py, ^neutron/agent/resource_cache.py, ^neutron/agent/rpc.py, ^neutron/agent/securitygroup_rpc.py, ^neutron/plugins/ml2/drivers/linuxbridge/.*$, ^neutron/plugins/ml2/drivers/openvswitch/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/scheduler/.*$

[OVN] Handle RouterNotFound exception in set_gateway_mtu
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Fix typo in the third instruction paragraph of "Controller nodes" block
  doc/source/install/ovn/manual_install.rst
Due: none

Don't set HA ports down while L3 agent restart.
  neutron/agent/l3/agent.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
  neutron/tests/unit/agent/metadata/test_driver.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone

Fix configure_for_func_testing script
  tools/configure_for_func_testing.sh
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Restructure layout for periodic, experimental and tox jobs
  zuul.d/job-templates.yaml
  zuul.d/project.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Mock netutils.is_ipv6_enabled() method when testing
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

[ OVN ][Migration] Reload systemctl daemon after removal
  tools/ovn_migration/tripleo_environment/playbooks/roles/stop-agents/tasks/main.yml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

[OVN][Cosmetic] Improve gen_router_port_options
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Switch to cirros uec image in ovn tempest jobs
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Ensure gateway is set for prefix delegated subnets
  neutron/agent/linux/dhcp.py
  neutron/db/db_base_plugin_common.py
  neutron/db/ipam_backend_mixin.py
  neutron/tests/fullstack/test_subnet.py
  neutron/tests/functional/agent/linux/test_dhcp.py
  neutron/tests/functional/agent/test_dhcp_agent.py
  neutron/tests/unit/agent/dhcp/test_agent.py
  neutron/tests/unit/agent/linux/test_dhcp.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add centos-9 jobs for wallaby zuul layout
  zuul.d/job-templates.yaml
  zuul.d/tripleo.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add some packages to the bindep list
  bindep.txt
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Group execution of SQL functional tests
  neutron/tests/functional/db/migrations/test_c3e9d13c4367_add_binding_index_to_.py
  neutron/tests/functional/db/test_ipam.py
  neutron/tests/functional/db/test_migrations.py
  neutron/tests/functional/objects/test_quota.py
  tox.ini
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Local IP: use LOCAL_IP_TABLE for back flows if no OVS fw
  neutron/agent/l2/extensions/local_ip.py
  neutron/tests/unit/agent/l2/extensions/test_local_ip.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone

[ovn-migration] Add debug information to create-resources.sh.j2 scripts
  tools/ovn_migration/infrared/tripleo-ovn-migration/roles/create-resources/templates/create-resources.sh.j2
  tools/ovn_migration/tripleo_environment/playbooks/roles/resources/create/templates/create-resources.sh.j2
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

[SR-IOV] Fix QoS extension to set min/max values
  neutron/plugins/ml2/drivers/mech_sriov/agent/eswitch_manager.py
  neutron/plugins/ml2/drivers/mech_sriov/agent/pci_lib.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/unit/plugins/ml2/drivers/mech_sriov/agent/test_eswitch_manager.py
  neutron/tests/unit/plugins/ml2/drivers/mech_sriov/agent/test_pci_lib.py
  neutron/tests/unit/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN] OVN metadata namespace is named "ovnmeta-$net_uuid"
  doc/source/admin/ovn/refarch/refarch.rst
Due: none

Open Zed DB branch
  neutron/db/migration/__init__.py
  neutron/db/migration/alembic_migrations/versions/yoga/expand/34cf8b009713_add_router_ndp_proxy_table.py
  neutron/db/migration/cli.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN] Update VIP port host ID when traffic detected
  neutron/plugins/ml2/drivers/ovn/mech_driver/mech_driver.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovsdb_monitor.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovsdb_monitor.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN] Remove maintenance "check_for_localnet_legacy_port_name"
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/maintenance.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Fix local doc builds
  doc/source/conf.py
  doc/source/ext/support_matrix.py
Due: none

Support SB OVSDB connections to non-leader servers
  neutron/agent/ovn/metadata/ovsdb.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovsdb_monitor.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Clean duplicated QoS bandwidth related methods in ovs_lib module
  neutron/agent/common/ovs_lib.py
  neutron/plugins/ml2/drivers/openvswitch/agent/extension_drivers/qos_driver.py
  neutron/tests/fullstack/agents/ovs_agent.py
  neutron/tests/fullstack/test_qos.py
  neutron/tests/functional/agent/common/test_ovs_lib.py
  neutron/tests/functional/agent/l2/base.py
  neutron/tests/functional/agent/test_ovs_lib.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/extension_drivers/test_qos_driver.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Update .gitreview for stable/yoga
  .gitreview
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Update TOX_CONSTRAINTS_FILE for stable/yoga
  tox.ini
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Update master for stable/yoga
  releasenotes/source/index.rst
  releasenotes/source/yoga.rst
Due: none
