Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Fix fwaas v1 configuration doc
  doc/source/admin/fwaas-v1-scenario.rst
Due: none

Skip MTU check during deletion of Networks
  neutron/plugins/ml2/plugin.py
  neutron/tests/fullstack/resources/client.py
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/resources/environment.py
  neutron/tests/fullstack/test_mtu.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Disallow router interface out of subnet IP range
  neutron/db/l3_db.py
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix DHCP isolated subnets with routed networks
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Rename router processing queue code to be more generic
  neutron/agent/common/resource_processing_queue.py
  neutron/agent/l3/agent.py
  neutron/tests/unit/agent/common/test_resource_processing_queue.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Use string for global_physnet_mtu config option
  neutron/tests/fullstack/resources/config.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Refactor DVR HA migarations DB operations
  neutron/db/l3_dvr_db.py
  neutron/db/l3_hamode_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use callback payloads for ROUTER/ROUTER_GATEWAY BEFORE_DELETE events
  neutron/agent/l3/agent.py
  neutron/agent/metadata/driver.py
  neutron/db/l3_db.py
  neutron/tests/functional/agent/l3/test_legacy_router.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use oslo_db.sqlalchemy.test_fixtures
  neutron/tests/unit/db/test_sqlalchemytypes.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

[QoS] Clear rate limits when default null values are used
  neutron/agent/l3/extensions/fip_qos.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Refactoring excessive number of options.
  neutron/agent/windows/utils.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Dont use dict.get() to know certain key is in dict
  neutron/plugins/ml2/drivers/agent/_common_agent.py
  neutron/tests/unit/plugins/ml2/drivers/agent/test__common_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Allow neutron-api load config from WSGI process
  neutron/common/config.py
  neutron/plugins/ml2/ovo_rpc.py
  neutron/server/__init__.py
  neutron/server/rpc_eventlet.py
  neutron/service.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update the doc url about SUSE basic network configuration
  doc/source/install/environment-networking-obs.rst
Due: none

use sqla functions from neutron-lib
  neutron/db/api.py
  neutron/db/db_base_plugin_v2.py
  neutron/hacking/checks.py
  neutron/quota/resource.py
  neutron/services/loki/loki_plugin.py
  neutron/services/revisions/revision_plugin.py
  neutron/services/timestamp/timestamp_db.py
  neutron/tests/base.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/services/revisions/test_revision_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[server side] Floating IP port forwarding plugin
  etc/policy.json
  neutron/api/rpc/handlers/l3_rpc.py
  neutron/extensions/floating_ip_port_forwarding.py
  neutron/services/portforwarding/__init__.py
  neutron/services/portforwarding/common/__init__.py
  neutron/services/portforwarding/common/exceptions.py
  neutron/services/portforwarding/pf_plugin.py
  neutron/tests/etc/policy.json
  neutron/tests/functional/services/portforwarding/__init__.py
  neutron/tests/functional/services/portforwarding/test_port_forwarding.py
  neutron/tests/unit/services/portforwarding/__init__.py
  neutron/tests/unit/services/portforwarding/test_pf_plugin.py
  setup.cfg
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Trivial: avoid KeyError while processing ports
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[doc] Follow-up logging service for firewall_group
  doc/source/admin/config-logging.rst
  doc/source/admin/figures/logging-framework.png
Due: none

use autonested_transaction from neutron-lib
  neutron/core_extensions/qos.py
  neutron/db/api.py
  neutron/db/l3_db.py
  neutron/objects/base.py
  neutron/scheduler/l3_agent_scheduler.py
  neutron/services/qos/qos_plugin.py
  neutron/services/trunk/plugin.py
  neutron/services/trunk/rpc/server.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
  neutron/tests/unit/objects/test_base.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Make dvr router port creation retriable
  neutron/db/l3_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use OVO for tests/unit/plugins/ml2/drivers/l2pop/test_db.py
  neutron/tests/unit/plugins/ml2/drivers/l2pop/test_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Move neutron-fullstack-python35 out of experimental queue
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Bug deputy routines for dummies
  doc/source/contributor/policies/bugs.rst
Due: none

[server side] Expose port forwardings in FIP API
  neutron/extensions/expose_port_forwarding_in_fip.py
  neutron/services/portforwarding/pf_plugin.py
  neutron/tests/unit/extensions/test_expose_port_forwarding_in_fip.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[agent side] L3 agent side Floating IP port forwarding
  neutron/agent/l3/extensions/port_forwarding.py
  neutron/agent/l3/router_info.py
  neutron/agent/linux/ip_lib.py
  neutron/tests/functional/agent/l3/extensions/test_port_forwarding_extension.py
  neutron/tests/unit/agent/l3/extensions/test_port_forwarding.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
  setup.cfg
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[log] Generic RPC stuffs for logging in server side
  neutron/services/logapi/common/constants.py
  neutron/services/logapi/drivers/base.py
  neutron/services/logapi/drivers/openvswitch/driver.py
  neutron/services/logapi/drivers/openvswitch/ovs_firewall_log.py
  neutron/services/logapi/rpc/agent.py
  neutron/services/logapi/rpc/server.py
  neutron/tests/unit/services/logapi/common/test_db_api.py
  neutron/tests/unit/services/logapi/rpc/test_server.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

WSGI: Add experimental jobs with uwsgi
  .zuul.yaml
  playbooks/legacy/neutron-fullstack-with-uwsgi/post.yaml
  playbooks/legacy/neutron-fullstack-with-uwsgi/run.yaml
  playbooks/legacy/neutron-functional-with-uwsgi/post.yaml
  playbooks/legacy/neutron-functional-with-uwsgi/run.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Retry dhcp_release on failures
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use get_port_binding_by_status_and_host from lib
  neutron/agent/rpc.py
  neutron/common/exceptions.py
  neutron/common/utils.py
  neutron/plugins/ml2/plugin.py
  neutron/services/logapi/common/validators.py
  neutron/services/qos/drivers/manager.py
  neutron/tests/unit/common/test_utils.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/plugins/ml2/test_port_binding.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[server side] Fix race issue for port forwarding plugin
  neutron/db/models/port_forwarding.py
  neutron/services/portforwarding/common/exceptions.py
  neutron/services/portforwarding/pf_plugin.py
  neutron/tests/functional/services/portforwarding/test_port_forwarding.py
  neutron/tests/unit/services/portforwarding/test_pf_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add ext_parent policy check
  doc/source/contributor/internals/policy.rst
  etc/policy.json
  neutron/api/v2/base.py
  neutron/common/constants.py
  neutron/policy.py
  neutron/tests/etc/policy.json
  neutron/tests/unit/test_policy.py
  releasenotes/notes/extend-policy-for-extension-resource-owner-check-4a19b84889660506.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add a guide to deploy Neutron API under WSGI server
  doc/source/admin/config-wsgi.rst
  doc/source/admin/config.rst
Due: none

Update install doc for ubuntu
  doc/source/install/compute-install-ubuntu.rst
  doc/source/install/controller-install-option1-ubuntu.rst
  doc/source/install/controller-install-option2-ubuntu.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

[Docs] Add note about Floating IP QoS
  doc/source/admin/config-qos.rst
Due: none

Generic validate_request method for logging
  neutron/services/logapi/common/constants.py
  neutron/services/logapi/common/exceptions.py
  neutron/services/logapi/common/sg_validate.py
  neutron/services/logapi/common/validators.py
  neutron/services/logapi/drivers/openvswitch/driver.py
  neutron/services/logapi/logging_plugin.py
  neutron/tests/unit/services/logapi/common/test_sg_validate.py
  neutron/tests/unit/services/logapi/common/test_validators.py
  neutron/tests/unit/services/logapi/test_logging_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Adding resources callback handler
  neutron/services/logapi/common/sg_callback.py
  neutron/services/logapi/drivers/manager.py
  neutron/services/logapi/drivers/openvswitch/driver.py
  neutron/tests/unit/services/logapi/common/test_sg_callback.py
  neutron/tests/unit/services/logapi/drivers/test_manager.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade
