Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-functional-python27:
  parent: neutron-functional
  run: playbooks/legacy/neutron-functional-python27/run.yaml
  post-run: playbooks/legacy/neutron-functional-python27/post.yaml

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-rally-task:
  parent: rally-task-neutron
  timeout: 7800
  vars:
    devstack_localrc:
      USE_PYTHON3: true
    devstack_plugins:
      rally-openstack: https://git.openstack.org/openstack/rally-openstack
      neutron: https://git.openstack.org/openstack/neutron
    devstack_services:
      neutron-trunk: true
  ...

neutron-tempest-dvr:
  parent: tempest-full-py3
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  vars:
    tempest_concurrency: 4
    devstack_localrc:
      Q_DVR_MODE: dvr_snat

neutron-tempest-linuxbridge:
  parent: tempest-full-py3
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  vars:
    tempest_concurrency: 4
    devstack_localrc:
      Q_AGENT: linuxbridge

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-tempest-iptables_hybrid:
  parent: tempest-full-py3
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  vars:
    tempest_concurrency: 4
    devstack_plugins:
      neutron: git://git.openstack.org/openstack/neutron.git
    devstack_services:
      tls-proxy: false
  ...

tempest-multinode-full-py3:
  voting: false

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  voting: false

Change process name of neutron-server to match worker role
  neutron/conf/common.py
  neutron/service.py
  neutron/tests/unit/test_service.py
  neutron/tests/unit/test_wsgi.py
  neutron/worker.py
  neutron/wsgi.py
  releasenotes/notes/setproctitle_workers-bc27a8baa5ef2279.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

[Functional tests] Change way how conntrack entries are checked
  neutron/tests/functional/agent/linux/test_netlink_lib.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Add method to tox to use local neutron-lib with unit tests
  TESTING.rst
  tools/pip_install_src_modules.sh
  tox.ini
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Delete port binding level for deleted bindings
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Revert "Restart all L3 agents in test that check no packet loss in HA routers"
  neutron/tests/fullstack/base.py
  neutron/tests/fullstack/test_l3_agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

DVR edge router: avoid accidental centralized floating IP remove
  neutron/agent/l3/dvr_edge_router.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Spawn metadata proxy on dvr ha standby routers
  neutron/agent/l3/ha.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Make "phys_brs" argument in OVSAgentExtensionAPI optional
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_agent_extension_api.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

remove neutron.db.api references
  doc/source/contributor/internals/quality_of_service.rst
  doc/source/contributor/internals/quota.rst
  doc/source/contributor/internals/retries.rst
  neutron/db/db_base_plugin_v2.py
  neutron/hacking/checks.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Store journal log in functional tests results
  playbooks/legacy/neutron-functional/post.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Remove quota_db backward compat file
  doc/source/contributor/internals/quota.rst
  neutron/db/quota_db.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Support Network Segment Range CRUD as extensions
  doc/source/admin/ops-resource-tags.rst
  doc/source/contributor/internals/api_extensions.rst
  doc/source/contributor/internals/tag.rst
  neutron/conf/policies/__init__.py
  neutron/conf/policies/network_segment_range.py
  neutron/db/migration/alembic_migrations/versions/EXPAND_HEAD
  neutron/db/migration/alembic_migrations/versions/stein/expand/0ff9e3881597_network_segment_range.py
  neutron/db/models/network_segment_range.py
  neutron/db/models/plugins/ml2/geneveallocation.py
  neutron/db/models/plugins/ml2/gre_allocation_endpoints.py
  neutron/db/models/plugins/ml2/vlanallocation.py
  neutron/db/models/plugins/ml2/vxlanallocation.py
  neutron/db/segments_db.py
  neutron/extensions/network_segment_range.py
  neutron/objects/common_types.py
  neutron/objects/network_segment_range.py
  neutron/services/network_segment_range/__init__.py
  neutron/services/network_segment_range/plugin.py
  neutron/tests/tools.py
  neutron/tests/unit/db/test_standard_attr.py
  neutron/tests/unit/extensions/test_network_segment_range.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/objects/test_common_types.py
  neutron/tests/unit/objects/test_network_segment_range.py
  neutron/tests/unit/objects/test_objects.py
  neutron/tests/unit/services/network_segment_range/__init__.py
  neutron/tests/unit/services/network_segment_range/test_plugin.py
  releasenotes/notes/add-network-segment-range-extension-0893a67cbf3f10fe.yaml
  setup.cfg
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

[Fullstack] Use newer openvswitch
  neutron/tests/contrib/gate_hook.sh
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

DVR-HA: Unbinding a HA router from agent does not clear HA interface
  neutron/agent/l3/agent.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Catch OVSFWTagNotFound in update_port_filter
  neutron/agent/linux/openvswitch_firewall/firewall.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Mock router info functions for a functional case
  neutron/tests/functional/agent/l3/test_legacy_router.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Add a more robust method to check OVSDB values in BaseOVSTestCase
  neutron/tests/fullstack/test_qos.py
  neutron/tests/functional/agent/common/test_ovs_lib.py
  neutron/tests/functional/agent/l2/base.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Add TC filter functions implemented with pyroute2
  neutron/agent/linux/tc_lib.py
  neutron/privileged/agent/linux/tc_lib.py
  neutron/tests/functional/privileged/agent/linux/test_tc_lib.py
  neutron/tests/unit/agent/linux/test_tc_lib.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Drive binding by placement allocation
  neutron/plugins/ml2/driver_context.py
  neutron/plugins/ml2/drivers/mech_agent.py
  neutron/plugins/ml2/managers.py
  neutron/tests/unit/plugins/ml2/_test_mech_agent.py
  neutron/tests/unit/plugins/ml2/drivers/mech_fake_agent.py
  neutron/tests/unit/plugins/ml2/drivers/mech_sriov/mech_driver/test_mech_sriov_nic_switch.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/mech_driver/test_mech_openvswitch.py
  neutron/tests/unit/plugins/ml2/test_managers.py
  neutron/tests/unit/plugins/ml2/test_port_binding.py
  setup.cfg
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Use network segment ranges for segment allocation
  neutron/plugins/ml2/drivers/helpers.py
  neutron/plugins/ml2/drivers/type_flat.py
  neutron/plugins/ml2/drivers/type_geneve.py
  neutron/plugins/ml2/drivers/type_gre.py
  neutron/plugins/ml2/drivers/type_local.py
  neutron/plugins/ml2/drivers/type_tunnel.py
  neutron/plugins/ml2/drivers/type_vlan.py
  neutron/plugins/ml2/drivers/type_vxlan.py
  neutron/plugins/ml2/managers.py
  neutron/services/network_segment_range/plugin.py
  neutron/tests/unit/plugins/ml2/drivers/base_type_tunnel.py
  neutron/tests/unit/plugins/ml2/drivers/test_helpers.py
  neutron/tests/unit/plugins/ml2/drivers/test_type_geneve.py
  neutron/tests/unit/plugins/ml2/drivers/test_type_gre.py
  neutron/tests/unit/plugins/ml2/drivers/test_type_vlan.py
  neutron/tests/unit/plugins/ml2/drivers/test_type_vxlan.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

When converting sg rules to iptables, do not emit dport if not supported
  neutron/agent/linux/iptables_firewall.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Fix fullstack test_dscp_marking_packets test
  neutron/tests/common/agents/l2_extensions.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Remove deprecated 'external_network_bridge' option
  doc/source/admin/config-az.rst
  doc/source/admin/config-dvr-ha-snat.rst
  doc/source/admin/config-services-agent.rst
  doc/source/admin/deploy-lb-ha-vrrp.rst
  doc/source/admin/deploy-lb-selfservice.rst
  doc/source/admin/deploy-ovs-ha-dvr.rst
  doc/source/admin/deploy-ovs-ha-vrrp.rst
  doc/source/admin/deploy-ovs-selfservice.rst
  doc/source/contributor/internals/services_and_agents.rst
  neutron/agent/l3/agent.py
  neutron/agent/l3/dvr_edge_router.py
  neutron/agent/l3/dvr_fip_ns.py
  neutron/agent/l3/dvr_snat_ns.py
  neutron/agent/l3/ha_router.py
  neutron/agent/l3/namespaces.py
  neutron/agent/l3/router_info.py
  neutron/agent/linux/interface.py
  neutron/cmd/ovs_cleanup.py
  neutron/conf/agent/common.py
  neutron/conf/agent/l3/config.py
  neutron/db/l3_db.py
  neutron/debug/debug_agent.py
  neutron/debug/shell.py
  neutron/tests/common/helpers.py
  neutron/tests/fullstack/base.py
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/resources/environment.py
  neutron/tests/fullstack/test_l3_agent.py
  neutron/tests/functional/agent/l3/framework.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/functional/agent/l3/test_ha_router.py
  neutron/tests/functional/agent/l3/test_legacy_router.py
  neutron/tests/functional/cmd/test_ovs_cleanup.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/l3/test_dvr_fip_ns.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
  neutron/tests/unit/debug/test_commands.py
  neutron/tests/unit/extensions/test_l3.py
  releasenotes/notes/external_network_bridge-option-removed-bbf50fb803f04f82.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Mark dvr_ha_router_failover tests as unstable
  neutron/tests/functional/agent/l3/test_dvr_router.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Allow sharing of security groups via RBAC mechanism
  doc/source/admin/config-rbac.rst
  neutron/agent/securitygroups_rpc.py
  neutron/conf/policies/security_group.py
  neutron/db/migration/alembic_migrations/versions/EXPAND_HEAD
  neutron/db/migration/alembic_migrations/versions/stein/expand/9bfad3f1e780_support_shared_security_groups.py
  neutron/db/models/securitygroup.py
  neutron/db/rbac_db_models.py
  neutron/db/securitygroups_db.py
  neutron/extensions/rbac_security_groups.py
  neutron/objects/qos/policy.py
  neutron/objects/rbac_db.py
  neutron/objects/securitygroup.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/api/rpc/handlers/test_securitygroups_rpc.py
  neutron/tests/unit/objects/test_base.py
  neutron/tests/unit/objects/test_network.py
  neutron/tests/unit/objects/test_objects.py
  neutron/tests/unit/objects/test_rbac.py
  neutron/tests/unit/objects/test_rbac_db.py
  neutron/tests/unit/objects/test_securitygroup.py
  releasenotes/notes/add-security-groups-rbac-6f133ec4d40e7641.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Devstack plugin for network-segment-range api
  devstack/lib/network_segment_range
  devstack/plugin.sh
  neutron/tests/contrib/gate_hook.sh
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/contrib/hooks/network_segment_range
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Fix a couple of bw burst calc unit tests for macs
  neutron/tests/unit/agent/linux/test_tc_lib.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Join on explcit relationship paths
  neutron/db/l3_db.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Fix KeyError in OVS firewall
  neutron/agent/linux/openvswitch_firewall/rules.py
  neutron/tests/unit/agent/linux/openvswitch_firewall/test_rules.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Fix QoS rule update
  neutron/services/qos/qos_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Fix handling no qos_queues while removing min bw limit rule
  neutron/agent/common/ovs_lib.py
  neutron/tests/functional/agent/common/test_ovs_lib.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

consume UnorderedList from neutron-lib
  neutron/tests/tools.py
  neutron/tests/unit/agent/test_securitygroups_rpc.py
  neutron/tests/unit/plugins/ml2/drivers/l2pop/test_db.py
  neutron/tests/unit/services/metering/test_metering_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-tempest-iptables_hybrid-fedora, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-full, tempest-full-py3, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, grenade-py3, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse150

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python27: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-iptables_hybrid-fedora: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-fullstack-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  networking-ovn-tempest-dsvm-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
