Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-neutron:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-rally-neutron/run.yaml
  post-run: playbooks/legacy/neutron-rally-neutron/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/aodh
  - openstack/ceilometer
  - openstack/diskimage-builder
  - openstack/ironic
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  nodeset: ubuntu-xenial-2-node
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

Initialize modifiable list of resources in CacheBackedPluginApi.
  neutron/agent/rpc.py
  neutron/tests/unit/agent/test_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Don't crash ovs agent during reconfigure of phys bridges
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix init of RequestConstructor in test_rpc.py
  neutron/tests/unit/plugins/ml2/test_rpc.py
Due: neutron-functional, neutron-fullstack

Pass get_networks() callback to interface driver
  neutron/agent/common/utils.py
  neutron/agent/l3/agent.py
  neutron/agent/linux/dhcp.py
  neutron/agent/linux/interface.py
  neutron/tests/unit/agent/dhcp/test_agent.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Retry trunk status updates failing with StaleDataError
  neutron/services/trunk/rpc/server.py
  neutron/tests/unit/services/trunk/rpc/test_server.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Relax subnet pool network affinity constraints
  neutron/db/db_base_plugin_v2.py
  neutron/db/ipam_backend_mixin.py
  neutron/objects/address_scope.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
  neutron/tests/unit/db/test_ipam_backend_mixin.py
  neutron/tests/unit/extensions/test_address_scope.py
  releasenotes/notes/relax-subnetpool-network-affinity-837c1fc28f835de5.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

use callback payloads for PROVISIONING_COMPLETE
  neutron/db/provisioning_blocks.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/db/test_provisioning_blocks.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

DVR: Cleanup ml2 dvr portbindings on migration
  neutron/db/l3_dvr_db.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/db/test_l3_dvr_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

[DVR] Add lock during creation of FIP agent gateway port
  neutron/db/l3_dvr_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Refactor the L3 agent batch notifier
  neutron/agent/l3/ha.py
  neutron/notifiers/batch_notifier.py
  neutron/tests/unit/notifiers/test_batch_notifier.py
  neutron/tests/unit/notifiers/test_ironic.py
  neutron/tests/unit/notifiers/test_nova.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix default RPC worker count
  neutron/service.py
  neutron/tests/unit/test_service.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

[DOC] Add info about new CI job to jobs list
  doc/source/contributor/testing/ci_scenario_jobs.rst
Due: none

Fix log directory permissions for functional job
  roles/setup_logdir/tasks/main.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

fix test nit
  neutron/tests/unit/test_service.py
Due: neutron-functional, neutron-fullstack

Fix tools/configure_for_func_testing.sh
  tools/configure_for_func_testing.sh
Due: neutron-functional, neutron-fullstack

use payloads for ROUTER_GATEWAY events
  neutron/db/l3_db.py
  neutron/db/l3_dvr_db.py
  neutron/tests/unit/db/test_l3_db.py
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Add 3 retry attempts to initialize ovs agent
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove default getattr values in RouterFipRateLimitMaps
  neutron/agent/l3/extensions/qos/fip.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

[stable only] Fix tempest regex passing
  playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  playbooks/legacy/neutron-tempest-dvr/run.yaml
  playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  playbooks/legacy/neutron-tempest-ovsfw/run.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

fix update port bug
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Check for agent restarted after checking for DVR port
  neutron/plugins/ml2/rpc.py
  neutron/tests/unit/plugins/ml2/test_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Clear skb mark on encapsulating packets
  neutron/agent/common/ovs_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

test_l3: Be a bit more selective where to inject a failiure
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-fullstack

remove try_again from _commit_port_binding
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

fix update neutron resource with incorrect body key server return 500
  neutron/pecan_wsgi/controllers/resource.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix sort issue in test_dhcp_agent_scheduler.test_filter_bindings
  neutron/tests/unit/scheduler/test_dhcp_agent_scheduler.py
Due: neutron-functional, neutron-fullstack

New extension: extraroute-atomic
  neutron/extensions/extraroute_atomic.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-forward: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pecan: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-with-ryu-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
