Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

use common agent topics from neutron-lib
  neutron/agent/dhcp/agent.py
  neutron/agent/dhcp_agent.py
  neutron/agent/l3/agent.py
  neutron/agent/l3_agent.py
  neutron/agent/metadata/agent.py
  neutron/agent/rpc.py
  neutron/api/rpc/agentnotifiers/dhcp_rpc_agent_api.py
  neutron/api/rpc/agentnotifiers/l3_rpc_agent_api.py
  neutron/api/rpc/agentnotifiers/metering_rpc_agent_api.py
  neutron/api/rpc/handlers/dvr_rpc.py
  neutron/api/rpc/handlers/resources_rpc.py
  neutron/api/rpc/handlers/securitygroups_rpc.py
  neutron/common/topics.py
  neutron/plugins/ml2/drivers/agent/_common_agent.py
  neutron/plugins/ml2/drivers/l2pop/rpc.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/plugins/ml2/drivers/macvtap/agent/macvtap_neutron_agent.py
  neutron/plugins/ml2/drivers/mech_sriov/agent/sriov_nic_agent.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/plugins/ml2/drivers/type_tunnel.py
  neutron/plugins/ml2/plugin.py
  neutron/plugins/ml2/rpc.py
  neutron/services/l3_router/l3_router_plugin.py
  neutron/services/metering/agents/metering_agent.py
  neutron/services/metering/metering_plugin.py
  neutron/tests/common/helpers.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_ha_router_plugin.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
  neutron/tests/unit/api/rpc/handlers/test_resources_rpc.py
  neutron/tests/unit/plugins/ml2/drivers/l2pop/test_mech_driver.py
  neutron/tests/unit/plugins/ml2/drivers/macvtap/agent/test_macvtap_neutron_agent.py
  neutron/tests/unit/plugins/ml2/test_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use callback payloads for PRECOMMIT_UPDATE events
  neutron/db/l3_db.py
  neutron/db/l3_dvr_db.py
  neutron/db/l3_hamode_db.py
  neutron/db/securitygroups_db.py
  neutron/plugins/ml2/plugin.py
  neutron/services/auto_allocate/db.py
  neutron/services/l3_router/service_providers/driver_controller.py
  neutron/services/qos/qos_plugin.py
  neutron/services/trunk/callbacks.py
  neutron/services/trunk/plugin.py
  neutron/tests/unit/db/test_securitygroups_db.py
  neutron/tests/unit/extensions/test_l3.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/services/l3_router/service_providers/test_driver_controller.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
  neutron/tests/unit/services/trunk/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Switch fullstack job to be voting
  .zuul.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Config privsep in the linuxbridge agent
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: Fix allowed_address_pair IP, ARP table update by neutron agent
  neutron/agent/l3/dvr.py
  neutron/agent/l3/dvr_local_router.py
  neutron/db/l3_dvr_db.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Imported Translations from Zanata
  neutron/locale/de/LC_MESSAGES/neutron.po
  neutron/locale/es/LC_MESSAGES/neutron.po
  neutron/locale/fr/LC_MESSAGES/neutron.po
  neutron/locale/it/LC_MESSAGES/neutron.po
  neutron/locale/ja/LC_MESSAGES/neutron.po
  neutron/locale/ko_KR/LC_MESSAGES/neutron.po
  neutron/locale/pt_BR/LC_MESSAGES/neutron.po
  neutron/locale/ru/LC_MESSAGES/neutron.po
  neutron/locale/tr_TR/LC_MESSAGES/neutron.po
  neutron/locale/zh_CN/LC_MESSAGES/neutron.po
  neutron/locale/zh_TW/LC_MESSAGES/neutron.po
Due: none

ovs-fw: Clear conntrack information before egress pipeline
  doc/source/contributor/internals/openvswitch_firewall.rst
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/tests/functional/agent/test_firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Remove race and simplify conntrack state management
  neutron/agent/linux/ip_conntrack.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

tests: port test_port_presence_prevents_network_rbac_policy_deletion
  neutron/tests/unit/db/test_rbac_db_mixin.py
Due: neutron-functional, neutron-fullstack

Add a test class to validate UTs fixes of new_facade flag
  neutron/tests/unit/objects/test_base.py
Due: neutron-functional, neutron-fullstack

Have LB agent use ip_lib.ensure_device_is_ready()
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/linuxbridge/agent/test_linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

ovs-fw: Fix firewall blink
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/tests/functional/agent/test_firewall.py
  neutron/tests/unit/agent/linux/openvswitch_firewall/test_firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add docstrings for ip_lib IP address methods
  neutron/agent/linux/ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: Fix mac format for backward compatibility with vsctl api
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

remove tag and tag_ext extensions
  doc/source/admin/config-dhcp-ha.rst
  doc/source/contributor/internals/tag.rst
  doc/source/install/verify.rst
  neutron/extensions/tag.py
  neutron/extensions/tag_ext.py
  neutron/extensions/tagging.py
  neutron/services/tag/tag_plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/extensions/test_tag.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Switch IPDevice.exists() method to use pyroute2
  neutron/agent/linux/ip_lib.py
  neutron/cmd/linuxbridge_cleanup.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/base.py
  neutron/tests/functional/cmd/test_linuxbridge_cleanup.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use segment api def from neutron-lib
  neutron/db/ipam_backend_mixin.py
  neutron/db/models/segment.py
  neutron/extensions/segment.py
  neutron/services/segments/db.py
  neutron/tests/unit/extensions/test_segment.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: Inter Tenant Traffic between networks not possible with shared net
  neutron/api/rpc/handlers/dvr_rpc.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/api/rpc/handlers/test_dvr_rpc.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Don't raise error when removing not existing IP address
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "[Fullstack] Mark security group test as unstable"
  neutron/tests/fullstack/test_securitygroup.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Scenario tests] Try longer SSH timeout for ubuntu image
  neutron/tests/contrib/hooks/ubuntu_image
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Pull in ubuntu cloud archive openvswitch pkg
  tools/configure_for_func_testing.sh
Due: neutron-functional, neutron-fullstack

Enable mutable config in Neutron
  neutron/agent/dhcp_agent.py
  neutron/agent/l3_agent.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/plugins/ml2/drivers/macvtap/agent/macvtap_neutron_agent.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/service.py
  neutron/services/metering/agents/metering_agent.py
  neutron/wsgi.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Remove usage of TestCase.skip() method
  neutron/tests/common/helpers.py
  neutron/tests/fullstack/test_dhcp_agent.py
  neutron/tests/unit/testlib_api.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Don't set administratively disabled ports as ACTIVE
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Revert "use segment api def from neutron-lib"
  neutron/db/ipam_backend_mixin.py
  neutron/db/models/segment.py
  neutron/extensions/segment.py
  neutron/services/segments/db.py
  neutron/tests/unit/extensions/test_segment.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Try to enable L3 agent extension `fip_qos`
  devstack/lib/l3_agent
  devstack/lib/qos
  devstack/plugin.sh
  devstack/settings
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

add lower-constraints job
  .zuul.yaml
  lower-constraints.txt
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix l3-agent crash on routers without ha_state
  neutron/agent/l3/agent.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Follow the new PTI for document build
  doc/requirements.txt
  setup.cfg
  test-requirements.txt
  tox.ini
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron

Switch ip link command to pyroute2
  neutron/agent/linux/ip_lib.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
  neutron/tests/unit/agent/l3/test_dvr_snat_ns.py
  neutron/tests/unit/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Functional tests] Add gateway add/delete/flush tests
  neutron/tests/functional/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Handle adding ip address when it already exists
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/functional/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Add block test until IPs will be really configured
  neutron/tests/fullstack/test_securitygroup.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Iptables firewall driver adds forward rules for trusted ports
  neutron/agent/linux/iptables_comments.py
  neutron/agent/linux/iptables_firewall.py
  neutron/agent/securitygroups_rpc.py
  neutron/tests/unit/agent/test_securitygroups_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Removing remaining Tempest bits
  neutron/tests/tempest/__init__.py
  neutron/tests/tempest/api/__init__.py
  neutron/tests/tempest/api/base.py
  neutron/tests/tempest/api/clients.py
  neutron/tests/tempest/common/__init__.py
  neutron/tests/tempest/common/ssh.py
  neutron/tests/tempest/common/tempest_fixtures.py
  neutron/tests/tempest/exceptions.py
  neutron/tests/tempest/scenario/__init__.py
  neutron/tests/tempest/scenario/base.py
  neutron/tests/tempest/scenario/constants.py
  neutron/tests/tempest/scenario/exceptions.py
  neutron/tests/tempest/services/__init__.py
  neutron/tests/tempest/services/network/__init__.py
  neutron/tests/tempest/services/network/json/__init__.py
  neutron/tests/tempest/services/network/json/network_client.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Process conntrack updates in worker threads
  neutron/agent/linux/ip_conntrack.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
  releasenotes/notes/add-conntrack-workers-89d303e9ec3b4963.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade
