Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-neutron:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-rally-neutron/run.yaml
  post-run: playbooks/legacy/neutron-rally-neutron/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/aodh
  - openstack/ceilometer
  - openstack/diskimage-builder
  - openstack/ironic
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron
  ...

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

neutron-grenade:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-grenade/run.yaml
  post-run: playbooks/legacy/neutron-grenade/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/neutron

Fix error message when duplicate QoS rule is created
  neutron/common/exceptions.py
  neutron/objects/qos/qos_policy_validator.py
  neutron/objects/qos/rule.py
  neutron/services/qos/qos_plugin.py
  neutron/tests/unit/objects/qos/test_rule.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fixing the filter in get MTU by network list query.
  neutron/db/l3_db.py
  neutron/tests/unit/db/test_l3_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

l3: an unit test for set_extra_attr_value
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-fullstack

DVR: Fix dvr_no_external agent restart with fips
  neutron/db/l3_dvr_db.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Set mtu for VXLAN interface in linuxbridge
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/linuxbridge/agent/test_linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Updated from global requirements
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron

Always pass device_owner to _ipam_get_subnets()
  neutron/db/ipam_backend_mixin.py
  neutron/ipam/exceptions.py
  neutron/tests/unit/extensions/test_subnet_service_types.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Pull in ubuntu cloud archive openvswitch pkg
  tools/configure_for_func_testing.sh
Due: neutron-functional, neutron-fullstack

Ensure _get_changed_synthetic_fields() return updatable fields
  neutron/objects/base.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Respawn dhclient process in case of error
  neutron/tests/fullstack/resources/machine.py
  neutron/tests/fullstack/test_connectivity.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use oslo_db.sqlalchemy.test_fixtures
  neutron/tests/unit/db/test_sqlalchemytypes.py
Due: neutron-functional, neutron-fullstack

Update documentation for DNS integration
  doc/source/admin/config-dns-int-ext-serv.rst
  doc/source/admin/config-dns-int.rst
  doc/source/admin/config.rst
  doc/source/admin/index.rst
Due: none

DNS doc: remove whitespace
  doc/source/admin/config-dns-int-ext-serv.rst
Due: none

use vlantransparent api def from neutron-lib
  neutron/db/vlantransparent_db.py
  neutron/extensions/vlantransparent.py
  neutron/plugins/ml2/managers.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/extensions/test_vlantransparent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Limit number of Neutron's api workers
  neutron/tests/fullstack/resources/config.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Linuxbridge] Check if vxlan network MTU can be set
  neutron/agent/linux/ip_lib.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/linuxbridge/agent/test_linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use sorting api def from neutron-lib
  neutron/extensions/sorting.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix a log formatting error on linuxbridge
  neutron/plugins/ml2/drivers/linuxbridge/agent/linuxbridge_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Stop running grenade in Ocata
  .zuul.yaml
  playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  playbooks/legacy/neutron-grenade-multinode/post.yaml
  playbooks/legacy/neutron-grenade-multinode/run.yaml
  playbooks/legacy/neutron-grenade/post.yaml
  playbooks/legacy/neutron-grenade/run.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

reno: Remove remote names from branch specifiers
  releasenotes/source/liberty.rst
  releasenotes/source/mitaka.rst
  releasenotes/source/newton.rst
  releasenotes/source/ocata.rst
Due: none

Fix creation of port when network has admin's QoS policy set
  neutron/services/qos/qos_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use router service type api def from neutron-lib
  neutron/extensions/routerservicetype.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use qos rule type details api def from neutron-lib
  neutron/extensions/qos_rule_type_details.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Respawn dhclient process in case of error
  neutron/tests/fullstack/resources/machine.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] Limit number of test workers to 4
  tox.ini
Due: neutron-functional, neutron-fullstack

use DVR constants from neutron-lib
  neutron/agent/l3/agent.py
  neutron/agent/l3/dvr_edge_router.py
  neutron/agent/l3/dvr_local_router.py
  neutron/agent/l3/extensions/fip_qos.py
  neutron/common/constants.py
  neutron/conf/agent/l3/config.py
  neutron/db/l3_agentschedulers_db.py
  neutron/db/l3_dvr_db.py
  neutron/db/l3_dvrscheduler_db.py
  neutron/db/l3_hamode_db.py
  neutron/tests/functional/agent/l3/extensions/test_fip_qos_extension.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/functional/services/l3_router/test_l3_dvr_router_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use EGRESS_DIRECTION and INGRESS_DIRECTION from neutron-lib
  neutron/agent/firewall.py
  neutron/agent/linux/iptables_firewall.py
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/agent/linux/openvswitch_firewall/rules.py
  neutron/services/logapi/drivers/openvswitch/ovs_firewall_log.py
  neutron/tests/common/conn_testers.py
  neutron/tests/functional/agent/linux/openvswitch_firewall/test_iptables.py
  neutron/tests/functional/agent/test_firewall.py
  neutron/tests/functional/services/logapi/test_logging.py
  neutron/tests/unit/agent/linux/openvswitch_firewall/test_firewall.py
  neutron/tests/unit/agent/linux/openvswitch_firewall/test_rules.py
  neutron/tests/unit/services/logapi/drivers/openvswitch/test_ovs_firewall_log.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: verify subnet has gateway_ip before installing IPv4 flow
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add functional tests for link create methods
  neutron/tests/functional/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Try to enable L3 agent extension `fip_qos`
  devstack/lib/l3_agent
  devstack/lib/qos
  devstack/plugin.sh
  devstack/settings
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
