Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python27: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: (unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$)
  neutron-tempest-iptables_hybrid: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-fullstack-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-with-uwsgi: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-tempest-with-uwsgi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-multinode-full-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  networking-ovn-tempest-dsvm-ovs-release: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  networking-midonet-tempest-aio-ml2-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-ovn-rally-task: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-ovn-tempest-slow: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$, ^vagrant/.*$, ^migration/.*$
  neutron-centos-8-tripleo-standalone: unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^tox.ini$, ^neutron/agent/ovn/.*$, ^neutron/agent/windows/.*$, ^neutron/plugins/ml2/drivers/linuxbridge/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/plugins/ml2/drivers/ovn/.*$
  neutron-ovn-tripleo-ci-centos-8-containers-multinode: unless all of: ^(test-|)requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^tools/.*$, ^tox.ini$, ^neutron/agent/dhcp/.*$, ^neutron/agent/l2/.*$, ^neutron/agent/l3/.*$, ^neutron/agent/metadata/.*$, ^neutron/agent/windows/.*$, ^neutron/agent/dhcp_agent.py, ^neutron/agent/l3_agent.py, ^neutron/agent/metadata_agent.py, ^neutron/agent/resource_cache.py, ^neutron/agent/rpc.py, ^neutron/agent/securitygroup_rpc.py, ^neutron/plugins/ml2/drivers/linuxbridge/.*$, ^neutron/plugins/ml2/drivers/openvswitch/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/scheduler/.*$

Improve Subnet create performance
  neutron/db/db_base_plugin_v2.py
  neutron/plugins/ml2/plugin.py
  neutron/services/segments/plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Improve Subnet delete performance
  neutron/db/db_base_plugin_v2.py
  neutron/plugins/ml2/plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

use callback payloads for SUBNET
  neutron/api/rpc/agentnotifiers/dhcp_rpc_agent_api.py
  neutron/db/db_base_plugin_v2.py
  neutron/db/l3_db.py
  neutron/plugins/ml2/ovo_rpc.py
  neutron/plugins/ml2/plugin.py
  neutron/services/ovn_l3/plugin.py
  neutron/services/segments/plugin.py
  neutron/tests/unit/api/rpc/agentnotifiers/test_dhcp_rpc_agent_api.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add agent extension 'dhcp' for ovs agent
  neutron/agent/l2/extensions/dhcp/extension.py
  neutron/conf/plugins/ml2/drivers/ovs_conf.py
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_int.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_agent_extension_api.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/agent/l2/extensions/dhcp/test_base.py
  neutron/tests/unit/agent/l2/extensions/dhcp/test_extension.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_br_int.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_tunnel.py
  releasenotes/notes/dhcp_ext_for_ovs_agent-ee895747687c7b58.yaml
  setup.cfg
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Improve Port list and show
  neutron/db/db_base_plugin_common.py
  neutron/db/db_base_plugin_v2.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Remove FIP agent's gw port when L3 agent is deleted
  neutron/db/agents_db.py
  neutron/db/l3_dvr_db.py
  neutron/objects/ports.py
  neutron/tests/unit/db/test_l3_dvr_db.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN] Disable mcast_flood on localnet ports
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/maintenance.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_maintenance.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Check router routes connectivity when GW port is updated
  neutron/db/extraroute_db.py
  neutron/db/l3_db.py
  neutron/tests/unit/db/test_l3_db.py
  releasenotes/notes/validate-router-gw-and-routes-af45c89c52612028.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Revert "Increase log information when a RootHelperProcess fails"
  neutron/tests/common/net_helpers.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Copy existing IPv6 leases to generated lease file
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Move dns-integration extension to the ML2_SUPPORTED_API_EXTENSIONS list
  neutron/common/ovn/extensions.py
  neutron/services/ovn_l3/plugin.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[ML2] Change way how list of supported API extensions is made
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  releasenotes/notes/change-the-way-how-api-extensions-are-filtered-out-b4449e690cb64480.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Make explicit the network backend used in the CI jobs
  zuul.d/base.yaml
  zuul.d/grenade.yaml
  zuul.d/project.yaml
  zuul.d/rally.yaml
  zuul.d/tempest-multinode.yaml
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Use OVS backend for testing os-ken library
  zuul.d/project.yaml
  zuul.d/tempest-singlenode.yaml
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

use callback payloads for SECURITY_GROUP
  neutron/db/securitygroups_db.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/mech_driver.py
  neutron/plugins/ml2/ovo_rpc.py
  neutron/tests/unit/db/test_securitygroups_db.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
  neutron/tests/unit/plugins/ml2/test_security_group.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN] Update OVN DB schemas used for tests
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/schemas/ovn-nb.ovsschema
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/schemas/ovn-sb.ovsschema
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi

Add fullstack test case for OVS DHCP extension
  neutron/tests/fullstack/resources/client.py
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/resources/environment.py
  neutron/tests/fullstack/resources/machine.py
  neutron/tests/fullstack/test_ovs_dhcp_extension.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Fix ObjectChangeHandler thread usage
  neutron/plugins/ml2/ovo_rpc.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Correctly label port as SubPort in SubPortNotFound
  neutron/services/trunk/exceptions.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Refactor DHCP common config options
  neutron/agent/l2/extensions/dhcp/ipv4.py
  neutron/conf/agent/common.py
  neutron/conf/agent/dhcp.py
  neutron/conf/plugins/ml2/drivers/ovs_conf.py
  neutron/tests/fullstack/resources/config.py
  neutron/tests/unit/agent/linux/test_dhcp.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

[OVN] Add binding-extended to the ML2_SUPPORTED_API_EXTENSIONS
  doc/source/admin/ovn/features.rst
  neutron/common/ovn/extensions.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Add extra logs to the network update callback in L3 agent
  neutron/agent/l3/agent.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone

[OVN] Do not fail when processing SG rule deletion
  neutron/plugins/ml2/drivers/ovn/mech_driver/mech_driver.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Notify ROUTER_GATEWAY event for router gw mode
  neutron/db/l3_gwmode_db.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Use TCP keepalives for ovsdb connections
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/impl_idl_ovn.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-ovn-tripleo-ci-centos-8-containers-multinode

Use elevated context to get default SG from database
  neutron/db/securitygroups_db.py
Due: neutron-functional, neutron-functional-python27, neutron-fullstack, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-iptables_hybrid, neutron-grenade, neutron-fullstack-with-uwsgi, neutron-functional-with-uwsgi, neutron-tempest-with-uwsgi, tempest-multinode-full-py3, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, tempest-slow-py3, networking-ovn-tempest-dsvm-ovs-release, networking-midonet-tempest-aio-ml2-centos-7, grenade-py3, tempest-ipv6-only, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, tempest-full-py3-opensuse15, neutron-ovn-rally-task, neutron-ovn-tempest-slow, neutron-centos-8-tripleo-standalone, neutron-ovn-tripleo-ci-centos-8-containers-multinode
