Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-functional-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack-python35: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-task: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

DVR: Inter Tenant Traffic between networks not possible with shared net
  neutron/api/rpc/handlers/dvr_rpc.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/api/rpc/handlers/test_dvr_rpc.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Dropping radvd process privileges
  neutron/agent/linux/ra.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use rally 0.12.1 release for stable/queens branch.
  .zuul.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Routed Networks - peer-subnet/segment host-routes (1/2)
  neutron/services/segments/plugin.py
  neutron/tests/unit/extensions/test_segment.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add support to regenerate port mac_address
  neutron/extensions/_port_mac_address_regenerate_lib.py
  neutron/extensions/port_mac_address_regenerate.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/plugins/ml2/test_plugin.py
  releasenotes/notes/port-mac-address-regenerate-312978c834abaa52.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Remove an extra backslash in a docstring
  neutron/db/l3_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Configure privsep helper in neutron-netns-cleanup
  neutron/cmd/netns_cleanup.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Fix an attribute error on listing AZs with filters
  neutron/db/agents_db.py
  neutron/tests/unit/extensions/test_availability_zone.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update the Bugs link for triage
  doc/source/contributor/policies/blueprints.rst
  doc/source/contributor/policies/bugs.rst
Due: none

DVR: FIP gateway port is tagged as DEAD port by OVS with external-bridge
  neutron/agent/l3/dvr_fip_ns.py
  neutron/tests/unit/agent/l3/test_dvr_fip_ns.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

DVR: Self recover from the loss of 'fg' ports in FIP Namespace
  neutron/agent/l3/dvr_local_router.py
  neutron/tests/functional/agent/l3/test_dvr_router.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Routed Networks - peer-subnet/segment host-routes (2/2)
  neutron/extensions/_segments_peer_subnet_host_routes_lib.py
  neutron/extensions/segments_peer_subnet_host_routes.py
  neutron/services/segments/plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/extensions/test_segment.py
  releasenotes/notes/routed-networks-hostroutes-a13a9885f0db4f69.yaml
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Fullstack] HA L3 agent restart only standby agents
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/test_l3_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

[Unit tests] Skip TestWSGIServer with IPv6 if no IPv6 enabled
  neutron/tests/unit/test_wsgi.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

python3: fix netlink_lib delete_entries
  neutron/privileged/agent/linux/netlink_lib.py
  neutron/tests/unit/privileged/agent/linux/test_netlink_lib.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add geneve in neutron tunnel protocols doc
  doc/source/admin/intro-overlay-protocols.rst
Due: none

[Fullstack] Remove central_external_bridge
  doc/source/contributor/testing/images/fullstack_multinode_simulation.png
  neutron/tests/fullstack/resources/environment.py
  neutron/tests/fullstack/test_l3_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Adjust filters on listing availability zones
  neutron/db/agents_db.py
  neutron/extensions/_availability_zone_filter_lib.py
  neutron/extensions/availability_zone_filter.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/contrib/hooks/api_all_extensions
  neutron/tests/unit/extensions/test_availability_zone.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Mark unit test test_get_objects_queries_constant as unstable
  neutron/tests/unit/objects/test_base.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

ipam_backend_mixin: Service Type model to OVO
  neutron/db/ipam_backend_mixin.py
  neutron/objects/subnet.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

use db utils from lib
  neutron/db/_model_query.py
  neutron/db/_utils.py
  neutron/db/address_scope_db.py
  neutron/db/agents_db.py
  neutron/db/allowedaddresspairs_db.py
  neutron/db/common_db_mixin.py
  neutron/db/db_base_plugin_common.py
  neutron/db/db_base_plugin_v2.py
  neutron/db/external_net_db.py
  neutron/db/flavors_db.py
  neutron/db/ipam_backend_mixin.py
  neutron/db/l3_db.py
  neutron/db/metering/metering_db.py
  neutron/db/portsecurity_db_common.py
  neutron/db/rbac_db_mixin.py
  neutron/db/securitygroups_db.py
  neutron/plugins/ml2/plugin.py
  neutron/services/auto_allocate/db.py
  neutron/services/network_ip_availability/plugin.py
  neutron/services/provider_configuration.py
  neutron/services/segments/db.py
  neutron/tests/unit/extensions/test_portsecurity.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Bump neutron-lib version to 1.17.0
  lower-constraints.txt
  requirements.txt
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Disallow router interface out of subnet IP range
  neutron/db/l3_db.py
  neutron/tests/unit/extensions/test_l3.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Modify logic of l3-agent to be notified
  neutron/db/l3_dvrscheduler_db.py
  neutron/tests/unit/scheduler/test_l3_agent_scheduler.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Allow sub-resources to have standard attributes
  neutron/db/standard_attr.py
  neutron/extensions/revisions.py
  neutron/extensions/standardattrdescription.py
  neutron/extensions/stdattrs_common.py
  neutron/extensions/timestamp.py
  neutron/tests/unit/db/test_standard_attr.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Adopt hacking 1.1.0
  lower-constraints.txt
  neutron/agent/linux/iptables_manager.py
  neutron/api/rpc/callbacks/version_manager.py
  neutron/conf/agent/common.py
  neutron/db/api.py
  neutron/extensions/securitygroup.py
  neutron/plugins/ml2/db.py
  neutron/plugins/ml2/extensions/dns_integration.py
  neutron/services/l3_router/service_providers/base.py
  neutron/services/segments/db.py
  neutron/tests/common/agents/ovs_agent.py
  neutron/tests/functional/agent/linux/bin/ipt_binname.py
  neutron/tests/unit/agent/l3/test_router_info.py
  neutron/tests/unit/agent/linux/test_iptables_manager.py
  neutron/tests/unit/agent/test_securitygroups_rpc.py
  neutron/tests/unit/common/test_utils.py
  neutron/tests/unit/db/quota/test_driver.py
  neutron/tests/unit/hacking/test_checks.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_tunnel.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
  neutron/tests/unit/services/metering/test_metering_plugin.py
  neutron/tests/unit/services/qos/test_qos_plugin.py
  neutron/tests/unit/services/trunk/drivers/linuxbridge/agent/test_trunk_plumber.py
  neutron/tests/unit/testlib_api.py
  test-requirements.txt
  tox.ini
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Ensure request's object type is dict
  neutron/api/v2/base.py
  neutron/tests/unit/api/v2/test_base.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Use OVO in plugins/ml2/test_plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

Adopt Port OVO for tests/unit/db/test_provisioning_blocks.py
  neutron/tests/unit/db/test_provisioning_blocks.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35

use get reader/writer session from neutron-lib
  neutron/db/api.py
  neutron/plugins/ml2/drivers/type_tunnel.py
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/extensions/test_l3_ext_gw_mode.py
  neutron/tests/unit/quota/test_resource.py
  neutron/tests/unit/services/metering/test_metering_plugin.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add fullstack test to restart agent with active l3-ha router
  neutron/tests/fullstack/test_l3_agent.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Add release notes link in README
  README.rst
Due: none

Fix UnixDomainHttpProtocol class to support all eventlet versions
  neutron/agent/linux/utils.py
  neutron/tests/unit/agent/linux/test_utils.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Invalid link of doc reference
  doc/source/contributor/contribute.rst
Due: none

Fix attribute mismatch in router provider update
  neutron/services/l3_router/service_providers/driver_controller.py
  neutron/tests/unit/services/l3_router/service_providers/test_driver_controller.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Send update instead of remove for DVR reschedule
  neutron/db/l3_agentschedulers_db.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-functional-python35, neutron-fullstack, neutron-fullstack-python35, neutron-rally-task, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade

Update pypi url to new url
  doc/source/contributor/policies/gate-failure-triage.rst
Due: none
