Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

neutron-functional:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-functional/run.yaml
  post-run: playbooks/legacy/neutron-functional/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron

neutron-fullstack:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-fullstack/run.yaml
  post-run: playbooks/legacy/neutron-fullstack/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  voting: false

neutron-rally-neutron:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-rally-neutron/run.yaml
  post-run: playbooks/legacy/neutron-rally-neutron/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/aodh
  - openstack/ceilometer
  - openstack/diskimage-builder
  - openstack/ironic
  ...

neutron-tempest-dvr:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-dvr/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr/post.yaml
  timeout: 7800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-tempest-linuxbridge:
  parent: legacy-dsvm-base
  run: playbooks/legacy/neutron-tempest-linuxbridge/run.yaml
  post-run: playbooks/legacy/neutron-tempest-linuxbridge/post.yaml
  timeout: 8400
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest

neutron-grenade-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-multinode/post.yaml
  timeout: 10800
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-grenade-dvr-multinode:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-grenade-dvr-multinode/run.yaml
  post-run: playbooks/legacy/neutron-grenade-dvr-multinode/post.yaml
  timeout: 7500
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/neutron
  nodeset: ubuntu-xenial-2-node

neutron-tempest-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  nodeset: ubuntu-xenial-2-node
  ...

neutron-tempest-dvr-ha-multinode-full:
  parent: legacy-dsvm-base-multinode
  run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/run.yaml
  post-run: playbooks/legacy/neutron-tempest-dvr-ha-multinode-full/post.yaml
  timeout: 10800
  required-projects:
  - openstack/devstack-gate
  - openstack/neutron
  - openstack/tempest
  ...

Wait to ipv6 accept_ra be really changed by L3 agent
  neutron/tests/functional/agent/l3/framework.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Add TC filtering for VXLAN traffic
  neutron/agent/linux/tc_lib.py
  neutron/tests/functional/agent/linux/test_tc_lib.py
  neutron/tests/unit/agent/linux/test_tc_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix resource schemas and releated `get_sorts` test cases
  neutron/extensions/securitygroup.py
  neutron/extensions/segment.py
  neutron/tests/unit/extensions/test_network_segment_range.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Improve port dhcp Provisioning
  neutron/agent/dhcp/agent.py
  neutron/agent/l3/router_processing_queue.py
  neutron/api/rpc/agentnotifiers/dhcp_rpc_agent_api.py
  neutron/tests/unit/agent/dhcp/test_agent.py
  neutron/tests/unit/api/rpc/agentnotifiers/test_dhcp_rpc_agent_api.py
  neutron/tests/unit/db/test_agentschedulers_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Support multiple external networks in L3 agent
  neutron/agent/l3/agent.py
  neutron/tests/unit/agent/l3/test_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Switch DB _utils to new engine facade
  neutron/db/_utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix bug: AttributeError arises while sorting with standard attributes
  neutron/api/api_common.py
  neutron/tests/unit/api/v2/test_base.py
  releasenotes/notes/add-sort-keys-check-for-get-sorts-b9e3e86ddcb3bc3a.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Stop OVS agent before starting it again
  neutron/tests/functional/agent/test_l2_ovs_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Switch to new engine facade for Subnet object
  neutron/objects/subnet.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Notify L2pop driver from update_device_(up|down)
  neutron/plugins/ml2/rpc.py
  neutron/tests/unit/plugins/ml2/test_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

More accurate agent restart state transfer
  neutron/agent/rpc.py
  neutron/plugins/ml2/drivers/l2pop/mech_driver.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/plugins/ml2/rpc.py
  neutron/tests/functional/agent/l2/base.py
  neutron/tests/unit/plugins/ml2/drivers/l2pop/test_mech_driver.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/test_rpc.py
  releasenotes/notes/precise-agent-state-transfer-67c771cb1ee04dd0.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Switch to new engine facade for StandardAttribute objects
  neutron/objects/stdattrs.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Only store segmenthostmapping when enable segment plugin
  neutron/services/segments/db.py
  neutron/tests/unit/extensions/test_segment.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

DVR: Modify DVR flows to allow ARP requests to hit ARP Responder table
  .zuul.yaml
  neutron/plugins/ml2/drivers/openvswitch/agent/common/constants.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_dvr_process.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/br_int.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/ovs_bridge_test_base.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Add short info about tempest API/scenario tests to reviewers guide
  doc/source/contributor/policies/code-reviews.rst
Due: none

Add debug information to AutoScheduler and BaseScheduler
  neutron/scheduler/base_scheduler.py
  neutron/scheduler/dhcp_agent_scheduler.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Switch to new engine facade for Route objects
  neutron/objects/subnet.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

update sriov config docs for live migration support.
  doc/source/admin/config-sriov.rst
Due: none

Use list instead of six.viewkeys to avoid py2 to py3 problems
  neutron/pecan_wsgi/hooks/policy_enforcement.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Removing existing dirs from .gitignore
  .gitignore
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Revert "Pass network's dns_domain to dnsmasq conf"
  neutron/agent/linux/dhcp.py
  neutron/tests/unit/agent/linux/test_dhcp.py
  releasenotes/notes/dns_domain-6f0e628aeb3c650c.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix mock of execute module in fdb_population UT
  neutron/tests/unit/agent/l2/extensions/test_fdb_population.py
Due: neutron-functional, neutron-fullstack

Add kill hooks for external processes
  doc/source/admin/config-services-agent.rst
  etc/neutron/rootwrap.d/dhcp.filters
  etc/neutron/rootwrap.d/dibbler.filters
  etc/neutron/rootwrap.d/l3.filters
  etc/rootwrap.conf
  neutron/agent/l3/ha_router.py
  neutron/agent/linux/dhcp.py
  neutron/agent/linux/external_process.py
  neutron/agent/linux/keepalived.py
  neutron/agent/metadata/driver.py
  neutron/conf/agent/common.py
  neutron/tests/functional/agent/l3/framework.py
  neutron/tests/functional/agent/test_dhcp_agent.py
  neutron/tests/unit/agent/dhcp/test_agent.py
  neutron/tests/unit/agent/linux/test_external_process.py
  releasenotes/notes/add-custom-kill-scripts-af405ba49142d59c.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Exclude broken ironicclient versions 2.7.1
  requirements.txt
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron

[DVR] Block ARP to dvr router's port instead of subnet's gateway
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_dvr_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

improve dvr port update under large scale deployment
  neutron/db/l3_dvrscheduler_db.py
  neutron/tests/unit/scheduler/test_l3_agent_scheduler.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Make OVS controller inactivity_probe configurable
  neutron/agent/common/ovs_lib.py
  neutron/conf/plugins/ml2/drivers/ovs_conf.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/ovs_bridge.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/ovs_bridge_test_base.py
  releasenotes/notes/ovs-make-inactivity-probe-configurable-39d669014d961c5c.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Packets getting lost during SNAT with too many connections
  neutron/agent/l3/dvr_edge_router.py
  neutron/agent/l3/dvr_local_router.py
  neutron/agent/l3/router_info.py
  neutron/agent/linux/iptables_manager.py
  neutron/common/constants.py
  neutron/common/utils.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
  neutron/tests/unit/common/test_utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Packets getting lost during SNAT with too many connections
  neutron/agent/l3/dvr_local_router.py
  neutron/agent/l3/router_info.py
  neutron/agent/linux/iptables_manager.py
  neutron/common/constants.py
  neutron/common/utils.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/l3/test_dvr_local_router.py
  neutron/tests/unit/common/test_utils.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-forward: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pecan: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-with-ryu-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
