Repository openstack/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Path conditions:
  neutron-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-fullstack: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^releasenotes/.*$
  neutron-rally-neutron: unless all of: ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade-dvr-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-dvr-ha-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-tempest-ovsfw: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-linuxbridge-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-neutron-forward: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pecan: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-dvr-multinode-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-with-ryu-master: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Clear skb mark on encapsulating packets
  neutron/agent/common/ovs_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Removing invalid double asterics entry from the doc file doc/source/admin/fwaas.rst
  doc/source/admin/fwaas.rst
Due: none

[DVR] Add lock during creation of FIP agent gateway port
  neutron/db/l3_dvr_db.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fix sort issue in test_dhcp_agent_scheduler.test_filter_bindings
  neutron/tests/unit/scheduler/test_dhcp_agent_scheduler.py
Due: neutron-functional, neutron-fullstack

Make sure the port still in port map when prepare_port_filter
  neutron/agent/linux/openvswitch_firewall/firewall.py
  neutron/tests/unit/agent/linux/openvswitch_firewall/test_firewall.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Populate binding levels when concurrent ops fail
  neutron/plugins/ml2/plugin.py
  neutron/tests/unit/plugins/ml2/test_plugin.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Stop OVS agent before starting it again
  neutron/tests/functional/agent/test_l2_ovs_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Clear skb mark on encapsulating packets
  neutron/agent/common/ovs_lib.py
  neutron/tests/unit/agent/common/test_ovs_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Move factory assignment in _ipam_allocate_ips()
  neutron/db/ipam_pluggable_backend.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove dead link
  doc/source/admin/config-ipv6.rst
Due: none

Fix objname error in QosPolicy
  neutron/objects/qos/policy.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

[Trivial]Remove unused helper get_port_external_ids/mac
  neutron/agent/common/ovs_lib.py
  neutron/tests/unit/agent/common/test_ovs_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

[Trivial]Remove unused helper _remove_fip_rate_limit_cache
  neutron/agent/l3/extensions/qos/fip.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Do not call update_device_list in large sets
  neutron/agent/rpc.py
  neutron/common/constants.py
  neutron/tests/unit/plugins/ml2/test_rpc.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Open Ussuri DB branch
  neutron/db/migration/__init__.py
  neutron/db/migration/alembic_migrations/versions/train/expand/c613d0b82681_subnet_force_network_id.py
  neutron/db/migration/cli.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Initialize phys bridges before setup_rpc
  neutron/plugins/ml2/drivers/openvswitch/agent/ovs_neutron_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/test_ovs_neutron_agent.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove L3 IP QoS cache when router is down
  neutron/agent/l3/extensions/qos/fip.py
  neutron/tests/fullstack/resources/client.py
  neutron/tests/fullstack/resources/config.py
  neutron/tests/fullstack/resources/environment.py
  neutron/tests/fullstack/test_l3_agent.py
  neutron/tests/unit/agent/l3/extensions/qos/test_fip.py
  neutron/tests/unit/agent/l3/extensions/qos/test_gateway_ip.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Force "network_id" in "subnet" DB registers
  neutron/db/migration/alembic_migrations/versions/EXPAND_HEAD
  neutron/db/migration/alembic_migrations/versions/train/expand/c613d0b82681_subnet_force_network_id.py
  neutron/db/models_v2.py
  neutron/tests/functional/db/migrations/test_3b935b28e7a0_migrate_to_pluggable_ipam.py
  neutron/tests/unit/db/test_ipam_pluggable_backend.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Remove experimental openSUSE 42.3 job
  .zuul.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Allow first address in an IPv6 subnet as valid unicast
  neutron/db/ipam_backend_mixin.py
  neutron/db/ipam_pluggable_backend.py
  neutron/ipam/utils.py
  neutron/tests/unit/db/test_db_base_plugin_v2.py
  neutron/tests/unit/db/test_ipam_pluggable_backend.py
  neutron/tests/unit/ipam/test_utils.py
  releasenotes/notes/ipv6_first_ip_address_valid-cd94b47bdcc642cf.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

DVR: Ignore DHCP port during DVR host query
  doc/source/admin/deploy-ovs-ha-dvr.rst
  neutron/common/utils.py
  neutron/conf/db/l3_dvr_db.py
  neutron/db/dvr_mac_db.py
  neutron/db/l3_dvrscheduler_db.py
  releasenotes/notes/config-host_dvr_for_dhcp-f949aca5bd666e24.yaml
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Kill all processes running in a namespace before deletion
  etc/neutron/rootwrap.d/debug.filters
  neutron/agent/linux/ip_lib.py
  neutron/privileged/__init__.py
  neutron/privileged/agent/linux/ip_lib.py
  neutron/tests/common/net_helpers.py
  neutron/tests/functional/privileged/agent/linux/test_ip_lib.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Adopt timers for new tenacity release
  neutron/agent/common/ovs_lib.py
  neutron/agent/ovsdb/native/connection.py
  neutron/plugins/ml2/drivers/linuxbridge/agent/arp_protect.py
Due: neutron-functional, neutron-fullstack, neutron-rally-neutron, neutron-tempest-dvr, neutron-tempest-linuxbridge, neutron-grenade-multinode, neutron-grenade-dvr-multinode, neutron-tempest-multinode-full, neutron-tempest-dvr-ha-multinode-full, neutron-tempest-ovsfw, neutron-grenade, tempest-full, legacy-grenade-dsvm-neutron-linuxbridge-multinode, legacy-grenade-dsvm-neutron-forward, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-pecan, legacy-tempest-dsvm-neutron-full-centos-7, legacy-tempest-dsvm-neutron-dvr-multinode-full, legacy-tempest-dsvm-neutron-with-ryu-master, legacy-tempest-dsvm-neutron-full-opensuse-423

Fixing URLS
  doc/source/admin/config-ml2.rst
Due: none
